---
import type { GetStaticPaths } from "astro";
import Layout from "../layouts/Layout.astro";
import Footer from "../sections/16-footer.astro";

import NavigationBar from "../sections/1-navigation-bar.astro";
import { getLangFromUrl, useTranslations } from "../i18n/utils";

const t = useTranslations(getLangFromUrl(Astro.url));
---

<Layout pageTitle={t("index__title")}>
	<div class="bg-purple-800">
		<NavigationBar />
	</div>
	<h3 class="text-base sm:text-2xl md:text-3xl flex flex-col text-center pt-5">
		Find your Index Number
	</h3>
	<div class="bg-[#9e57b5] pb-60 mx-[20%] rounded-xl flex flex-col md:pt-32">
		<p class="md:text-2xl text-center">
			Enter your NIC Number to find your Index Number.
		</p>

		<input
			type="number"
			class="h-8 sm:h-6 md:h-12 rounded-lg sm:text-sm md:text-lg w-[150px] sm:w-[500px] md:w-[60%]"
			placeholder=" Enter the NIC Number"
		/>
		<button class="h-8 sm:h-12 rounded-lg text-xl mt-4 md:w-[100px]"
			>Find</button
		>
	</div>
	<div class="md:mx-32">
		<Footer />
	</div>
</Layout>
