---
interface Props {}
---

<button
	class="btn text-xl text-center font-bold border-0 outline-ultra-violet-500 outline-2 outline rounded-lg cursor-pointer"
>
	<slot />
</button>

<style>
	.btn {
		color: #fff;
		background: linear-gradient(135deg, #852d91, #312a6c);
		padding: 12px 20px;
		transition: all 0.3s cubic-bezier(0.02, 0.01, 0.47, 1);
	}
	.btn:hover {
		color: #cfcece;
		border: none;
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
		animation: rotate 0.7s ease-in-out both;
	}

	/* .btn:hover:before,
	.btn:hover:after {
		opacity: 0.15;
	} */
	.btn:hover:before {
		transform: translate3d(50%, 0, 0) scale(0.9);
	}
	.btn:hover:after {
		transform: translate(50%, 0) scale(1.1);
	}
	@keyframes rotate {
		0% {
			transform: rotate(0deg);
		}
		25% {
			transform: rotate(3deg);
		}
		50% {
			transform: rotate(-3deg);
		}
		75% {
			transform: rotate(1deg);
		}
		100% {
			transform: rotate(0deg);
		}
	}
</style>
