---
interface Props {}
---

<button
	class="text-lg px-6 py-2 border-0 outline-ultra-violet-500 outline-2 outline rounded-md cursor-pointer hover:text-baby-powder hover:bg-ultra-violet-900 bg-gray-200"
>
	<slot />
</button>
