---
interface Props {
	name: string;
	post: string;
	faculty: string;
}

const { name, post, faculty } = Astro.props;
---

<div class="p-3 rounded-xl bg-[#fff]">
	<div class="w-full h-auto rounded-full mb-4 p-4">
		<img
			class="w-full h-auto rounded-full aspect-square"
			src={`/committee/${name}.jpg`}
		/>
	</div>
	<div class="text-center p-0">
		<h4 class="text-xl p-0">{name.toUpperCase()}</h4>
		<p>
			<span class="p-0 text-xl text-[#cd5c5c]">{post}</span><br />
			 BSc Eng. (Hons) (Reading),<br />{faculty},<br />University of Moratuwa.
		</p>
	</div>
</div>
