---
interface Props {
	name: string;
	post: string;
	faculty: string;
    src:string;
}

const { name, post, faculty ,src} = Astro.props;
---
<div class="p-3 rounded-xl bg-[#fff] ">
    <div class="w-full h-auto rounded-full mb-6 p-4">
      <img  class="w-full h-auto rounded-full"src={src} />
    </div>
    <div class="text-center p-0">
      <h4 class="text-xl p-0">{name}</h4>
      <div class="p-0 text-xl text-[#cd5c5c]">{post},</div>
      <p>
        BSc Eng. (Hons) (Reading),<br />{faculty},<br />University of
        Moratuwa.
      </p>
    </div>
  </div>