<div class="p-12 shadow-md text-left bg-fuchsia-200">
	<h2 class="text-3xl">Contact Form</h2>
	<form action="/action_page.php">
		<label class="text-xl">Student Name</label>
		<input
			type="text"
			class="text-lg w-full p-3 box-border mt-1.5 mb-4 rounded-md resize-y border border-solid"
			placeholder="Your Name.."
		/>

		<label class="text-xl">Email</label>
		<input
			type="text"
			class="text-lg w-full p-3 box-border mt-1.5 mb-4 rounded-md resize-y border border-solid"
			placeholder="Your Mail Address.."
		/>
		<label class="text-xl">Subject</label>
		<select
			class="text-lg w-full p-3 box-border mt-1.5 mb-4 rounded-md resize-y border border-solid"
		>
			<option value="sub">Choose your Subject</option>
			<option value="Combined Mathematics">Maths</option>
			<option value="Chemistry">Chemistry</option>
			<option value="phy">Physics</option>
			<option value="bio">Biology</option>
			<option value="ICT">ICT</option>
		</select>
		<label class="text-xl">Comment</label>
		<textarea
			placeholder="Write something.."
			class="text-lg w-full p-3 box-border mt-1.5 mb-4 rounded-md"
		>
		</textarea>
		<input
			type="submit"
			value="Submit"
			class="text-xl cursor-pointer px-5 py-3 rounded-md text-white bg-fuchsia-800 hover:bg-violet-900"
		/>
	</form>
</div>
