---
interface Props {
	icon: string;
	href: string;
}

const { icon, href } = Astro.props;
---

<div>
	<i class={`fa-solid fa-${icon} text-s mr-1.5`}></i>
	<a
		class="text-inherit no-underline opacity-80 mr-5 hover:opacity-100"
		href={href}><slot /></a
	>
</div>
