<ul class="relative flex p-0">
	<li>
		<a
			href="https://chat.whatsapp.com/FwlrCw18uU6LTdRrmJLJVN"
			class="text-[#25d366]"><i class="fa-brands fa-whatsapp"></i></a
		>
	</li>
	<li>
		<a
			href="https://x.com/moraetamils?t=N-7OEAXI7Ssi3axfYDjwXw&s=08"
			class="text-black"><i class="fa-brands fa-x-twitter opacity-[0.7]"></i></a
		>
	</li>
	<li>
		<a
			href="https://www.linkedin.com/company/mora-exams/"
			class="text-[#0072b1]"><i class="fa-brands fa-linkedin-in"></i></a
		>
	</li>
	<li>
		<a href="https://www.youtube.com/@MoraETamils" class="text-[#ff0000]"
			><i class="fa-brands fa-youtube"></i></a
		>
	</li>
	<li>
		<a href="https://bit.ly/moraexamviber" class="text-[#59267c]"
			><i class="fa-brands fa-viber opacity-[0.7]"></i></a
		>
	</li>
	<li>
		<a href="https://bit.ly/moraexamviber" class="text-[#229ed9]"
			><i class="fa-brands fa-telegram"></i></a
		>
	</li>
</ul>

<style>
	ul li {
		position: relative;
		list-style: none;
		margin: 0 5px;
		cursor: pointer;
	}
	ul li a {
		text-decoration: none;
	}
	ul li a .fa-brands {
		@apply transition-colors ease-in-out;
		font-size: 2em;
		color: #222;
	}
	ul li a:hover .fa-brands {
		filter: grayscale(0);
		color: inherit;
	}
</style>
