---
interface Props {
	value: number;
	text: string;
	icon: string;
}

const { value, text, icon } = Astro.props;
---

<div class="py-6 rounded-2xl bg-pink-200 flex items-center justify-center">
	<span class="font-semibold text-2xl mr-2">{icon}</span>
	<span class="text-3xl mr-1">{value}</span>
	<span class="font-semibold text-2xl text-yellow-800">{text}</span>
</div>
