---
interface Props {
	value: number;
	text: string;
	icon: string;
}

const { value, text, icon } = Astro.props;
---

<div
	class="w-48 h-48 rounded-xl shadow-lg bg-fairy-tale-200 grid place-items-center"
>
	<span
		class="text-4xl w-48 pt-2 rounded-t-xl bg-fairy-tale-400 place-items-start"
		>{value}</span
	><br />
	<span class="text-3xl w-18 h-18 pt-2 pb-1 px-0.5 bg-fairy-tale-400 rounded-xl"
		>{icon}</span
	><br />
	<span class="font-semibold text-xl pb-3 text-fairy-tale-900">{text}</span>
</div>
