---
interface Props {
	value: number;
	text: string;
	
}

const { value, text,  } = Astro.props;
---

<div
	class=" text-center px-12"
>
	<h2 class=" text-5xl text-center">{value}</h2>
	
	<p class="text-center text-xl">{text}</p>
</div>
<style>
	div {
  
  transition-property: box-shadow, transform;
  transition-duration: 350ms;
  transition-timing-function: ease;
  
}
div:is(:hover, :focus) {
  color: #00ff00;
  transform: translateY(-8px);
}
</style>
