---
interface Props {
	value: number;
	text: string;
	icon: string;
}

const { value, text, icon } = Astro.props;
---

<div
	class="w-56 rounded-xl shadow-lg bg-fairy-tale-200 grid place-items-center"
>
	<span
		class="text-5xl w-56 pt-3 rounded-t-xl bg-fairy-tale-400 place-items-start"
		>{value}</span
	><br />
	<span class="text-4xl w-18 h-18 pt-3 pb-1 bg-fairy-tale-400 rounded-xl"
		>{icon}</span
	><br />
	<span class="font-semibold text-3xl pb-3 text-fairy-tale-900">{text}</span>
</div>
