---
interface Props {
	subject: string;
	href: string;
}

const { href, subject } = Astro.props;
const subjectDisplayName = subject
	.charAt(0)
	.toUpperCase()
	.concat(subject.slice(1));
---

<a
	href={href}
	target="_blank"
	class="no-underline text-inherit hover:underline"
>
	<img class="w-full" src={`/subject/${subject}.jpeg`} alt={subject} />
	{subjectDisplayName}
</a>
