---
interface Props {

	subject: string;
	href: string;
    src:string;
}

const { href, subject,src } = Astro.props;
---

		
    <a class="cursor-pointer"
        href={href}
        target="_blank">
        <img class="w-full" src={src} alt={subject}>
        <button class="bg-gray-300 hover:bg-gray-400 mt-5 px-3 py-3 cursor-pointer uppercase rounded-xl text-lg w-40">{subject}</button>
    </a>

<style>
    img{

    }
</style>