---
import Button from "./Button.astro";

interface Props {
	subject: string;
	href: string;
}

const { href, subject } = Astro.props;
const subjectDisplayName = subject
	.charAt(0)
	.toUpperCase()
	.concat(subject.slice(1));
---

<div>
	<a href={href} target="_blank">
		<img class="w-full mb-3" src={`subject/${subject}.jpg`} alt={subject} />
		<Button>{subjectDisplayName}</Button>
	</a>
</div>
