---
import type { GetStaticPaths } from "astro";
import Layout from "../../layouts/Layout.astro";
import Footer from "../../sections/16-footer.astro";

import NavigationBar from "../../sections/1-navigation-bar.astro";
import { getLangFromUrl, useTranslations } from "../../i18n/utils";
import { langStaticRoutes } from "../../i18n/ui";

const t = useTranslations(getLangFromUrl(Astro.url));

export const getStaticPaths = (() => {
	return langStaticRoutes;
}) satisfies GetStaticPaths;
---

<Layout pageTitle={t("index__title")}>
	<div class="bg-purple-800">
		<NavigationBar />
	</div>
	<!-- <h3 class="text-base sm:text-2xl md:text-3xl flex flex-col text-center pt-5">
		Find your Index Number
	</h3>
	<div
		class="bg-[#9e57b5] pb-60 md:mx-[20%] rounded-xl flex flex-col items-center md:pt-20"
	>
		<p class="md:text-2xl text-center">
			Enter your NIC Number to find your Index Number.
		</p>

		<input
			type="number"
			class="h-8 sm:h-6 md:h-12 rounded-lg sm:text-sm md:text-lg w-[150px] sm:w-[500px] md:w-[60%]"
			placeholder=" Enter the NIC Number"
		/>
		<button class="h-8 sm:h-12 rounded-lg text-xl mt-4 md:w-[100px]"
			>Find</button
		>
	</div> -->
<!--	<div
		class="flex flex-col items-center bg-white shadow rounded-xl mt-[30px] pb-5 sm:my-10 md:p-10 md:pb-20 md:mt-28 md:mb-20 gap-y-2 w-fit mx-auto"
	>
		<h1 class="text-xl text-center px-3 my-5 sm:text-2xl md:text-4xl">
			Find your Index Number
		</h1>
		<p class="text-lg text-center px-3 m-0 sm:text-sm">
			Enter your NIC Number to find your Index Number.
		</p>
		<input
			type="text"
			placeholder="NIC Number"
			class="px-8 p-2 rounded-lg text-sm sm:text-sm border-none bg-delft-blue-50 focus:outline-none focus:border-delft-blue-500 focus:bg-white  shadow mt-2"
		/>
		<button class="px-8 pt-1 h-fit text-lg rounded-full border-none sm:text-xl mt-4"
			>Find</button
		>
	</div> -->

<section class="min-h-screen bg-delft-blue-50/50 text-primary-900 flex justify-center">
	<div class="max-w-screen-xl m-0 sm:m-20 bg-white shadow sm:rounded-lg flex justify-center flex-1" >
		<div class="lg:w1/2 xl:w-5/12 p-6 sm:p-12">
			<div class="mt-6 flex flex-col items-center">
				<h1 class="text-2xl xl:text-3xl">Find your index Number</h1>
				<p class="text-lg xl:text-xl text-center text-black ">Enter your NIC Number to find your Index Number. </p>
				<input
					class="w-full px-8 py-4 rounded-lg bg-delft-blue-50/25 border border-primary-900/20 placeholder-rust-orange-50 text-sm focus:outline-none focus:border-gray focus:bg-white mt-4 "
					type="text"
					placeholder="N.I.C Number"
				/>
				<button class="mt-6 w-1/2 py-2 rounded-full text-primary-800 text-lg bg-white  hover:bg-delft-blue-50/50 border border-sm border-black/25 focus:outline-none focus:shadow focus:border-none">
					<i class="fa-solid fa-magnifying-glass"></i><span class="ml-3">Find</span>
				</button>
			</div>
		</div>
		<div class="flex-1 hidden lg:flex ">
			
			<div
          class="my-12 mr-12 xl:m-16 w-full bg-contain bg-center bg-no-repeat"
          style="background-image: url('/assets/Illustrations/bg23.svg');"
        ></div>
		</div>
	</div>
	
</section>
</Layout>
<div class="p-2 sm:mx-[30px]">
	<Footer />
</div>
<style>
	@media screen and (max-width: 400px) {
		input {
			font-size: 16px;
		}
	}
</style>
