---
import type { GetStaticPaths } from "astro";
import Layout from "../../layouts/Layout.astro";

import NavigationBar from "../../sections/1-navigation-bar.astro";
import Hero from "../../sections/2-hero.astro";
import WhatIsMoraExams from "../../sections/3-what-is-mora-exams.astro";
import FindYourExaminationCentres from "../../sections/4-find-your-examination-centres.astro";
import LookingForMoraExamPastpapers from "../../sections/5-looking-for-mora-exam-pastpapers.astro";
import ElearningVideos from "../../sections/6-elearning-videos.astro";
import ExamTimeTable from "../../sections/7-exam-time-table.astro";
import PlatinumSponsors from "../../sections/8-platinum-sponsors.astro";
import WhatIsAllAboutUs from "../../sections/9-what-is-all-about-us.astro";
import PathwayOfMoraExam from "../../sections/10-pathway-of-mora-exam.astro";
import BasicStatistics from "../../sections/11-basic-statistics.astro";
import OurSponsors from "../../sections/12-our-sponsors.astro";
import OurCommittee from "../../sections/13-our-committee.astro";
import FeedbackFromAchievers from "../../sections/14-feedback-from-achievers.astro";
import ContactUs from "../../sections/15-contact-us.astro";
import Footer from "../../sections/16-footer.astro";
import { getLangFromUrl, useTranslations } from "../../i18n/utils";

const t = useTranslations(getLangFromUrl(Astro.url));

export const getStaticPaths = (() => {
	return [
		{
			params: {
				lang: "en",
			},
		},
		{
			params: {
				lang: "ta",
			},
		},
	];
}) satisfies GetStaticPaths;
---

<Layout pageTitle={t("index__title")}>
	<div
		class="grid grid-cols-1 px-0 h-[72vh] sm:h-[100vh] grid-rows-[auto_1fr] sm:grid-rows-[auto_auto_1fr] bg-[url('/bg3.jpg')] bg-cover"
	>
		<NavigationBar />
		<Hero />
	</div>
	<WhatIsMoraExams />
	<PathwayOfMoraExam />
	<BasicStatistics />
	<FindYourExaminationCentres />
	<FeedbackFromAchievers />
	<OurCommittee />
	<OurSponsors />
	<ExamTimeTable />
	<!-- <PlatinumSponsors /> -->
	<!-- <WhatIsAllAboutUs /> -->
	<!-- <ContactUs /> -->
	<LookingForMoraExamPastpapers />
	<ElearningVideos />
	<Footer />
</Layout>

<style is:global>
	body {
		@apply text-mora-black-950;
	}
	body:has(#nav-bar-toggle:checked),
	body.disable-scrolling {
		overflow: hidden;
	}
	body > * {
		@apply px-[var(--body-margin-x)];
	}
	section {
		@apply scroll-mt-20;
	}
</style>
