---
import HeaderContactLink from "../components/HeaderContactLink.astro";
import NavLink from "../components/NavLink.astro";
import HeaderContactIcon from "../components/HeaderContactIcon.astro";
import LanguageSelector from "../components/LanguageSelector.astro";

import {
	getLangFromUrl,
	replaceLanguage,
	useTranslations,
} from "../i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<header class="hidden sm:flex items-center py-1 bg-transparent text-white">
	<HeaderContactLink icon="envelope" href="mailto:moraetamils@gmail.com">
		moraetamils@gmail.com
	</HeaderContactLink>
	<HeaderContactLink icon="phone" href="tel:+94704616400">
		+94 70 461 6400
	</HeaderContactLink>
	<div class="ml-auto">
		<HeaderContactIcon name="twitter" />
		<HeaderContactIcon name="youtube" />
		<HeaderContactIcon name="facebook" />
		<HeaderContactIcon name="linkedin" />
		<HeaderContactIcon name="telegram" />
	</div>
</header>

<nav
	class="flex items-center gap-x-2 py-3 sm:py-2 sticky top-0 bg-transparent text-white z-10"
>
	<div>
		<a
			class="text-3xl text-inherit font-bold inline-block w-max no-underline relative z-30 order-1"
			href="/"
		>
			{t("index__title")}
		</a>
	</div>

	<input type="checkbox" class="hidden" id="nav-bar-toggle" />
	<label
		for="nav-bar-toggle"
		class="block sm:hidden h-fit cursor-pointer relative z-30 opacity-80 order-3"
	>
		<div class="h-1 w-7 mb-2 bg-white rounded-sm" id="nav-bar-toggle-line-1">
		</div>
		<div class="h-1 w-7 bg-white rounded-sm" id="nav-bar-toggle-line-2"></div>
	</label>

	<ul
		class={[
			`m-0 pl-[var(--body-margin-x)] pt-[12vh] text-2xl bg-mora-purple-800 flex flex-wrap flex-col gap-y-8 gap-x-5 absolute top-0 bottom-0 right-0 left-0 z-20 translate-x-[-100%] h-[100vh] backdrop-blur order-2 mx-auto`,
			`sm:ml-25 sm:p-0 sm:flex-row sm:gap-y-0 sm:justify-end sm:static sm:translate-x-[0] sm:items-center sm:bg-inherit sm:h-fit sm:text-base`,
		].join(" ")}
	>
		<!-- <NavLink text="Home" href="/" /> -->
		<NavLink text={t("nav__timetable")} href="#timetable" />
		<NavLink text={t("nav__exam_centres")} href="#exam-centres" />
		<NavLink text={t("nav__past_papers")} href="#past-papers" />
		<NavLink text={t("nav__about")} href="#about-us" />
		<!-- <NavLink text="Contact Us" /> -->
	</ul>

	<div class="lang-selector order-2 ml-auto mr-2 sm:m-0 sm:order-3">
		<LanguageSelector />
	</div>
</nav>

<style>
	header,
	nav {
		@apply px-[var(--body-margin-x)];
	}
	ul {
		transition: transform 0.35s cubic-bezier(0.19, 1, 0.22, 1);
		transition-delay: 0.1s;
	}
	#nav-bar-toggle:checked ~ ul {
		@apply translate-x-0;
	}
	label > div {
		@apply origin-center transition-transform;
	}
	#nav-bar-toggle:checked ~ label > div {
		@apply scale-x-90;
	}
	#nav-bar-toggle:checked ~ label #nav-bar-toggle-line-1 {
		@apply rotate-[45deg] translate-y-[0.375rem];
	}
	#nav-bar-toggle:checked ~ label #nav-bar-toggle-line-2 {
		@apply rotate-[-45deg] translate-y-[-0.375rem];
	}
</style>
