---
// JS required for this section goes here (don't bother for now)
---

<div>
	<!-- Navigation bar (top with logo, links, and contact information) -->
	
	<nav>
		<a class="logo" href="">Mora Exams</a>
		<a href="">Home</a>
		<a href="">About</a>
		<a href="">Exam Centres</a>
		<a href="">Schedule</a>
		<a href="">Pastpapers</a>
		<a href="">Practive Exams</a>
		<a href="">Contact Us</a>

	</nav>
</div>

<style>
	a {
		text-decoration: none;
	}
	.logo {
		font-weight: bold;
		font-size: 20px;
	}
	/* CSS for this section goes here */
</style>
