---
import HeaderContactIcon from "../components/HeaderContactIcon.astro";

// JS required for this section goes here (don't bother for now)
---

<header>
  <div class="bg-indigo-800 flex items-center p-1">
    <div>
      <i class="fa-solid fa-envelope text-s mr-1.5 ml-40"></i>
      <a
        class="text-inherit no-underline hover:underline opacity-80 mr-5" href="
        mailto:moraetamils@gmail.com"
        >moraetamils@gmail.com
      </a>
    </div>
    <div>
      <i class="fa-solid fa-phone text-s mr-1.5"></i>
      <a class="text-inherit no-underline hover:underline opacity-80 mr-5" href="tel:+94704616400">+94 70 461 6400</a>
    </div>
    
    <div style="margin-left: auto;">
      <HeaderContactIcon name="twitter" />
      <HeaderContactIcon name="facebook" />
      <HeaderContactIcon name="linkedin" />
      <HeaderContactIcon name="youtube" />
    </div>
  
</header>

<nav class="bg-slate-300 flex items-center p-1 justify-between sticky top-0 pb-1.5 ">
  <div class="text-3xl font-bold ml-40 mr-80">
    <a class="no-underline hover:underline" href="/">Mora Exams</a>
  </div>
  <ul class="ml-25 mb-0">
    <li class="inline-block mt-0 mb-2 px-3">
      <a class="no-underline text-blanchedalmond-900 hover:underline" href=""
        >Home</a
      >
    </li>
    <li class="inline-block mt-0 mb-2 px-3">
      <a class="no-underline text-blanchedalmond-900 hover:underline" href=""
        >About</a
      >
    </li>
    <li class="inline-block mt-0 mb-2 px-3">
      <a class="no-underline text-blanchedalmond-900 hover:underline" href=""
        >Exam Centres</a
      >
    </li>
    <li class="inline-block mt-0 mb-2 px-3">
      <a class="no-underline text-blanchedalmond-900 hover:underline" href=""
        >Schedule</a
      >
    </li>
    <li class="inline-block mt-0 mb-2 px-3">
      <a class="no-underline text-blanchedalmond-900 hover:underline" href=""
        >Past papers</a
      >
    </li>
    <li class="inline-block mt-0 mb-2 px-3">
      <a class="no-underline text-blanchedalmond-900 hover:underline" href=""
        >Practice Exam</a
      >
    </li>
    <li class="inline-block mt-0 mb-2 px-3">
      <a class="no-underline text-blanchedalmond-900 hover:underline" href=""
        >Contact Us</a
      >
    </li>
  </ul>
  <div class="cursor-pointer text-xm">
    <div class="h-75 w-5 mb-0.75"></div>
    <div class="h-75 w-5 mb-0.75"></div>
    <div class="h-75 w-5 mb-0.75"></div>
  </div>
</nav>

