---
// JS required for this section goes here (don't bother for now)
---

<nav>
	<div class="logo">
		<a href="">Mora Exams</a>
	</div>
	<ul>
		<li><a href="">Home</a></li>
		<li><a href="">About</a></li>
		<li><a href="">Exam Centres</a></li>
		<li><a href="">Schedule</a></li>
		<li><a href="">Past papers</a></li>
		<li><a href="">Practice Exam</a></li>
		<li><a href="">Contact Us</a></li>
	</ul>
	<div class="menu">
		<div class="menu-line"></div>
		<div class="menu-line"></div>
		<div class="menu-line"></div>
	</div>
</nav>
<div class="container">


</div>
<img src="../public/logo.png">
<style>
	.body{
		margin: 0;
		padding: 0;
		background-image: url('');
	}
	nav{
		background-color: darksalmon;
		font-size: 28px;
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: space-around;
		color: darkslateblue;
	}
	nav li{
		display: inline-block;
		margin: 0 8px;
	}
	nav a{
		text-decoration: none;
	}
	.logo{
		font-size: 36px;
		font-weight: bolder;
	}
	nav a:hover{
		color: blanchedalmond;
	}
	.menu-line{
		height: 3px;
		width: 20px;
		background-color: darkslateblue;
		margin-bottom: 3px;
	}
	.menu{
		cursor: pointer;
		display: none;
	}
	@media all and(max-width: 600px;){
		nav{
			flex-direction: column;
		}
		nav li{
			display: block;
			padding:10px 0;
		}
		ul{
			text-align: center;
			padding: 0;
			display: none;
		}
		.logo{
			align-self: flex-start;
			margin: 10px 0px 0px 30px;
		}
		.menu{
			display: block;
			position: absolute;
			right: 20px;
			top: 25px;
		}	
		.showmenu{
			display: block;
		}
	}
</style>
<script>
	const menu = document.querySelector('.menu')
	const menulist = document.querySelector('nav ul')
	menu.addEventListener('click',()=>{
		menulist.classList.toggle('showmenu')
	})
</script>