---
import PathwayCard from "../components/PathwayCard.astro";
---

<section class="mx-auto">
	<h1 class="mt-10 mb-8 text-center">Pathway of the Mora Exam</h1>

	<div class="cols flex flex-wrap items-center justify-center gap-3">
		<PathwayCard
			title="BEGINNING"
			year="2007"
			description="The need for the pilot examination is felt. An exam was held for physical science and biological science students. This exam transformed into the Mora Exam in 2010."
		/>
		<PathwayCard
			title="RESTART"
			year="2010"
			description="The need for the pilot examination is felt. An exam was held for physical science and biological science students. This exam transformed into the Mora Exam in 2010."
		/>
		<PathwayCard
			title="TECHNOLOGY STREAM"
			year="2016"
			description="We too, have included the technology stream due to the kind request of the students and also the Provincial Director of Education in 2016. But now, because of the demands, we have handed over the responsibilities of the technology stream to the very own faculty of technology students, the University of Jaffna, and we just guide them for their own betterment."
		/>

		<PathwayCard
			title="NOW"
			year="2023"
			description="In the 14th year of the Mora Exam, we are proud to serve the students. Last year, we expanded our service to 22 districts, conducted the examinations in more than 69 examination centres, and accommodated more than 6,000 candidates."
		/>
	</div>
</section>

<style>
	/* * {
		margin: 0;
		padding: 0;
	} */

	/* h1 { */
	/* font-size: 4rem; */
	/* font-family: "Montserrat"; */
	/* font-weight: bold; */
	/* color: #444; */
	/* text-align: center; */
	/* margin: 2rem 0; */
	/* } */
</style>
