---
// JS required for this section goes here (don't bother for now)
---

<div class="bg-[AB92BF] text-center pt-3 p-10">
  <p class="text-10 text-[#255555]"><b>Pathway of the Mora Exam</b></p>

  <div class="grid grid-cols-1 sm:grid-cols-2 scroll-auto gap-10 ">
    <article class="rounded-2xl cursor-pointer bg-[#AEB3EA] ">
      <h1 class="bg-[#818792] w-40 pl-12 rounded-xl text-left">2007</h1>
      <h2 class="uppercase pl-5">Beginning ▶</h2>
      <p class="text-20 p-3">
        The need for the pilot examination is felt. An exam was held for
        physical science and biological science students. This exam transformed
        into the Mora Exam in 2010
      </p>
    </article>
    <article class="rounded-2xl cursor-pointer bg-[#AEC0EA]">
      <h1 class="bg-[#818792] w-40 pl-12 rounded-xl text-left">2010</h1>
      <h2 class="fouuppercaser">Restart 🚀</h2>
      <p text-lg p-3>
        The need for the pilot examination is felt. An exam was held for
        physical science and biological science students. This exam transformed
        into the Mora Exam after 2010.
	  </p>
    </article>

    <article class="rounded-2xl cursor-pointer bg-[#AEB3EA]">
      <h1 class="bg-[#818792] w-40 pl-12 rounded-xl text-left">2016</h1>
      <h2 class="uppercase">Technology Stream ➕</h2>
      <p text-2xl p-3>
        We,too , have included the technology stream due to the kind request of
        the students and also the Provincial Director of Education in 2016. But
        now, because of the demands, we have handed over the responsibilities of
        the technology stream to the very own faculty of technology students,
        the University of Jaffna, and we just guide them for their own
        betterment.
      </p>
    </article>
    <article class="rounded-2xl cursor-pointer bg-[#AEC0EA]">
      <h1 class="bg-[#818792] w-40 pl-12 rounded-xl text-left">2023</h1>
      <h2 class="uppercase">Now 🏆</h2>
      <p text-5 p-3>
        In the 14th year of the Mora Exam, we are proud to serve the students.
        Last year, we expanded our service to 22 districts, conducted the
        examinations in more than 69 examination centres, and accommodated more
        than 6,000 candidates.
      </p>
    </article>
  </div>
</div>
