---
import Pathway from "../components/Pathway.astro";

// JS required for this section goes here (don't bother for now)
---

<div class="bg-[AB92BF] text-center pt-3 p-10">
  <p class="text-3xl sm:text-4xl text-[#255555]">
    <b>Pathway of the Mora Exam</b>
  </p>

  <div class="grid grid-cols-1 sm:grid-cols-2 scroll-auto gap-10">
    <Pathway
      title="Restart ðŸš€"
      body="The need for the pilot examination is felt. An exam was held for
      physical science and biological science students. This exam transformed
      into the Mora Exam after 2010."
    />
    <Pathway
      title="Technology Stream âž•"
      body="We,too , have included the technology stream due to the kind request of
      the students and also the Provincial Director of Education in 2016. But
      now, because of the demands, we have handed over the responsibilities of
      the technology stream to the very own faculty of technology students,
      the University of Jaffna, and we just guide them for their own
      betterment."
    />
    <Pathway
      title="Now ðŸ†"
      body="In the 14th year of the Mora Exam, we are proud to serve the students.
      Last year, we expanded our service to 22 districts, conducted the
      examinations in more than 69 examination centres, and accommodated more
      than 6,000 candidates."
    />
  </div>
</div>
