---
import StatisticCard from "../components/StatisticCard.astro";
import { getLangFromUrl, useTranslations } from "../i18n/utils";

const t = useTranslations(getLangFromUrl(Astro.url));
---

<section class="">
	<div
		class=" "
		id="counter"
	>
		<StatisticCard value={14} text={t("statistics__years")}  /><hr>
		<StatisticCard value={22} text={t("statistics__districts")}  /><hr>
		<StatisticCard value={69} text={t("statistics__centers")} /><hr>
		<StatisticCard value={6821} text={t("statistics__candidates")}  />
	</div>
</section>
<style>
	div{
		display: flex;
  	flex-direction: row;
  	justify-content: center;
  	align-items: center;
 		background-color: rgb(54, 13, 92);
 		color: #e6d1d1;
		margin-top: 15px;
}
hr{
  height: 130px;
  border-left: 1px solid rgb(219, 78, 78);
}
</style>
