---
import StatisticCard from "../components/StatisticCard.astro";
import { getLangFromUrl, useTranslations } from "../i18n/utils";

const t = useTranslations(getLangFromUrl(Astro.url));
---

<section class="px-2.5">
	<div
		class="grid grid-flow-col"
		id="counter"
	>
	<hr>
		<StatisticCard value={14} text={t("statistics__years")}  /><hr>
		<StatisticCard value={22} text={t("statistics__districts")}  /><hr>
		<StatisticCard value={69} text={t("statistics__centers")} /><hr>
		<StatisticCard value={6821} text={t("statistics__candidates")}  /><hr>
	</div>
</section>
<style>
	div{
	
  align-items: center;
 	margin-top: 20px;
}
section{
	background-color: rgb(54, 13, 92);
 	color: #e6d1d1;
	
}
hr{
	height: 100px;
	border: 1px solid #ffA500;
}
@media(max-width:750px) {
	div{
		display: grid;
		grid-auto-flow: row;
	}
	hr{
		height:0%;
		width: 200px;
		border: 1px solid #ffA500;
	}
	
}  



</style>
