---
interface Sponsor {
	name: string;
	link: string;
	type: "Platinum" | "Gold" | "Silver" | "Bronze";
}

const sponsors: Sponsor[] = [
	{
		name: "Northway Family Mart",
		link: "https://web.facebook.com/northwayfamilymart?_rdc=1&_rdr",
		type: "Platinum",
	},
	{ name: "Achievers", link: "https://example.com", type: "Gold" },
	{ name: "Pirakanth", link: "https://example.com", type: "Gold" },
	{ name: "Uthayan", link: "https://example.com", type: "Gold" },
];

function getLogoUrl(name: string) {
	let o = "/sponsors/";

	for (let char of name) {
		if (char == " ") {
			o = o.concat("-");
		} else {
			o = o.concat(char.toLowerCase());
		}
	}

	o = o.concat(".png");
	return o;
}
---

<section>
	<h2 class="mb-10">OUR SPONSORS</h2>
	<ul class="sponsors-grid">
		{
			sponsors.map((sponsor) => {
				return (
					<li class={sponsor.type.toLowerCase()}>
						<a href={sponsor.link} target="_blank">
							<img src={getLogoUrl(sponsor.name)} alt={sponsor.name} />
						</a>
					</li>
				);
			})
		}
	</ul>
</section>

<style>
	* {
		padding: 0;
		margin: 0;
	}
	section {
		display: grid;
		place-items: center;
		background: theme(colors.white);
		padding: 32px 0;
		text-align: center;
	}
	.sponsors-grid {
		width: 90%;
		height: auto;
		display: grid;
		align-items: center;
		grid-template-columns: repeat(3, 1fr);
	}
	li {
		--scale: 0.8;
		display: inline-block;
		position: relative;
		overflow: hidden;
		cursor: pointer;
		transform: scale(var(--scale));
		transform-origin: center;
		transition: transform 0.2s ease-in-out;
	}
	li img {
		transition: filter 0.2s ease-in-out;
		filter: grayscale(100%);
	}
	li:hover {
		transform: scale(calc(var(--scale) + 0.2));
	}
	li:hover img {
		filter: grayscale(0);
	}
	img {
		width: 100%;
		height: auto;
	}
</style>

<!-- todo: needs restucturing and new layout to display platinum, silver and bronze sponsors accordingly -->
