<section>
	<h1>OUR SPONSORS</h1>
		<ul class="sponsors-grid">
			<li>
				<a href="https://sltc.ac.lk/">
					<img src="/sltc.png" alt="" />
				</a>
			</li>
			<li>
				<a href="https://web.facebook.com/northwayfamilymart?_rdc=1&_rdr">
					<img src="/northway-family-mart.png" alt="" />
				</a>
			</li>
			<li>
				<img src="/pirakanth.png" alt="" />
			</li>
		</ul>
</section>

<style>
	* {
		padding: 0;
		margin: 0;
		box-sizing: border-box;
	}

	section {
		display: grid;
		place-items: center;
		background: #f5f5f5;
        padding: 32px 0;
		text-align: center;
	}

	h1 {
		font-size: 30px;
        margin-bottom: 20px;
	}

	.sponsors-grid {
		width: 90%;
		height: auto;
        display: grid;
        align-items: center;
        grid-template-columns: repeat(3, 1fr);
	}
	.sponsors-grid li {
        max-width: 280px;
		display: inline-block;
		position: relative;
		overflow: hidden;
		cursor: pointer;
        filter: grayscale(100%);
        transform: scale(0.8);
		transition: filter .2s ease-in-out, transform .2s ease-in-out;
	}
    .sponsors-grid li:hover {
        filter: grayscale(0);
        transform: scale(1);
    }
	.sponsors-grid img {
		width: 100%;
		height: auto;
	}
</style>
