---
interface Sponsor {
	name: string;
	link: string;
	type: "Platinum" | "Gold" | "Silver" | "Bronze";
}

const sponsors: Sponsor[] = [
	{
		name: "Northway Family Mart",
		link: "https://web.facebook.com/northwayfamilymart?_rdc=1&_rdr",
		type: "Platinum",
	},
	{ name: "Achievers", link: "https://example.com", type: "Gold" },
	{ name: "Pirakanth", link: "https://example.com", type: "Gold" },
];

function getLogoUrl(name: string) {
	let o = "/sponsors/";

	for (let char of name) {
		if (char == " ") {
			o = o.concat("-");
		} else {
			o = o.concat(char.toLowerCase());
		}
	}

	o = o.concat(".png");
	return o;
}
---

<section>
	<h2 class="mb-10">OUR SPONSORS</h2>
	<ul class="sponsors-grid">
		{
			sponsors.map((sponsor) => {
				return (
					<li>
						<a href={sponsor.link} target="_blank">
							<img src={getLogoUrl(sponsor.name)} alt={sponsor.name} />
						</a>
					</li>
				);
			})
		}
		<li>
			<a href="https://sltc.ac.lk/">
				<img src="/sponsors/sltc.png" alt="" />
			</a>
		</li>
		<li>
			<a href="">
				<img src="/sponsors/pirakanth.png" alt="" />
			</a>
		</li>
	</ul>
</section>

<style>
	* {
		padding: 0;
		margin: 0;
	}

	section {
		display: grid;
		place-items: center;
		background: theme(colors.white);
		padding: 32px 0;
		text-align: center;
	}

	/* h1 {
		font-size: 30px;
      margin-bottom: 20px;
	} */

	.sponsors-grid {
		width: 90%;
		height: auto;
		display: grid;
		align-items: center;
		grid-template-columns: repeat(3, 1fr);
	}
	.sponsors-grid li {
		display: inline-block;
		position: relative;
		overflow: hidden;
		cursor: pointer;
		filter: grayscale(100%);
		transform: scale(0.8);
		transition:
			filter 0.2s ease-in-out,
			transform 0.2s ease-in-out;
	}
	.sponsors-grid li:hover {
		filter: grayscale(0);
		transform: scale(1);
	}
	.sponsors-grid img {
		width: 100%;
		height: auto;
	}
</style>

<!-- todo: needs restucturing and new layout to display platinum, silver and bronze sponsors accordingly -->
