---
// JS required for this section goes here (don't bother for now)
---

<section>
	<h2 class="mora-committee">Mora Exam - 2023 | Committee</h2>
 
	<div class="committee">
	    <!-- President -->
		<div class="member">
			<div class="photo">
				<img src="/committee/sarujan.jpg" />
			</div>
		    <div class="Discription">
				<h4 class="name">SARUJAN</h4>
			    <span class="post">President,</span>
			    <p>
				 Student of the  Department of Civil Engineering
			    </p>
		    </div>
		</div>	
    	<!-- Secretary --> 
		<div class="member">
			<div class="photo">
				<img src="/committee/harikishna.jpg" />
			</div>
		    <div class="Discription">
				<h4 class="name">HARIKISHNA</h4>
			    <span class="post">Secretary,</span>
			    <p>
					Student Of Department Of Computer Science And Engineering
			    </p>
		    </div>
		</div>	
    	<!-- Treasurer -->
		<div class="member">
			<div class="photo">
				<img src="/committee/mayoorathan.jpg" />
			</div>
		    <div class="Discription">
				<h4 class="name">MAYOORATHAN</h4>
			    <span class="post">Treasurer,</span>
			    <p>
					Student Of Department Of Material Science And Engineering
			    </p>
		    </div>
		</div>
    	<!-- Vice President -->
		<div class="member">
			<div class="photo">
				<img src="/committee/thabendra.jpg" />
			</div>
		    <div class="Discription">
				<h4 class="name">THABENDRA</h4>
			    <span class="post">Vice President,</span>
			    <p>
					Student Of Department of Computer Science And Engineering
			    </p>
		    </div>
		</div>
	</div>
</section>

<style>
	h2 {
		text-align: center;
	}
	.committee {
		width: 100%;
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		margin-bottom: 50px;
		margin-top: 20px;
		gap: 15px;
	}
	.member {
		padding: 10px;
		border-radius: 20px;
		background-color: #fff;
		box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);

	}
	.member .photo {
		width: 100%;
		height: auto;
		border-radius: 50%;
		padding: 15px;
		margin-bottom: 25px;
	}
	.photo img {
		width: 100%;
		height: auto;
		border-radius: 50%;
	}
	.Discription{
		text-align: center;
		line-height: normal;
		padding: 0px;
	}
	.post{
		display: block;
		font-size: 15px;
		color: indianred;
	}
	p{
		display: block;
		font-size: 15px;
	}
</style>
