---
// JS required for this section goes here (don't bother for now)
---

<div class="comm">
	<p class="mora-committee">Mora Exam - 2023 | Committee</p>
	<div class="committee">
		<div class="photo">
			<img src="/logo.png">
			<p>SARUJAN</p>
			<p>President,
				Student Of Department Of Civil Engineering</p>
		</div>
		<div class="photo">
			<img src="/logo.png">
			<p>HARIKISHNA</p>
			<p>Secretary,
				Student Of Department Of Computer Science And Engineering</p>
		</div>
		<div class="photo">
			<img src="/logo.png">
			<p>MAYOORATHAN</p>
			<p>Treasurer,
				Student Of Department Of Material Science And Engineering</p>
		</div>
		<div class="photo">
			<img src="/logo.png">
			<p>THABENDRA</p>
			<p>Vice President
				Student Of Department Science And Engineering</p>
		</div>
	</div>
</div>

<style>
	.comm{
		margin: 50px 200px 50px 200px;

	}
	.committee{
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		margin-bottom: 100px;
		margin-top: 100px;
	
		
	}
	.photo{
		padding: 10px;
	}
	.mora-committee{
		font-size: 36px;
		text-align: center;
	}

</style>