---
import Feedback from "../components/Feedback.astro";
import { getLangFromUrl, useTranslations } from "../i18n/utils";

const t = useTranslations(getLangFromUrl(Astro.url));
---

<div class="bg-ultra-violet-200 pt-7">
	<h2 class="text-center text-3xl">FEEDBACK FROM ACHIEVERS</h2>
	<div class="overflow-auto px-1">
		<div class="w-full relative flex justify-between pl-0 pr-5 pt-4 gap-2">
			<Feedback
				name="iroshan"
				state="Ex-President"
				batch="(Tamil Literary Association)"
				body={t("feedback_iroshan")}
			/>
			<Feedback
				name="darukeesan"
				state="Island First"
				batch="2014 A/L (MATHS)"
				body="It is a common notion in society that students who are in universities focus only on their studies and have no care or concern for society. Our students have proved that to be wrong."
			/>
			<Feedback
				name="abarna"
				state="Island First"
				batch="2019 A/L (BIO-OLD)"
				body="Since the exam papers are prepared by well-experienced teachers, this team is important in our preparations for the final exam. It is better to practice two or three years of Mora exam past papers to face the final examination successfully!"
			/>
			<Feedback
				name="sankavi"
				state="District First(JAFFNA)"
				batch="2019 A/L(MATHS-OLD)"
				body="Mora exams become part of the A/L examination. It gave me more practice and confidence. I am very glad about it. I saw the reflection of mora exams in my final examination."
			/>
			<Feedback
				name="jathusan"
				state="District First(JAFFNA)"
				batch="2019 A/L(MATHS-NEW)"
				body="The MORA exam provided a chance to improve my time management,the most important aspect of an examination. This examination creates an environment similar to that of the final examination, which helps to develop our mental stamina."
			/>
			<Feedback
				name="sundarbavan"
				state="Island First(JAFFNA)"
				batch="2020 A/L(MATHS-NEW)"
				body="Due to the COVID-19 pandamic, we hadn't faced any Model exams for nearly five months. In that respect, Mora exams helped me develop the ability to approach the questions and answer them properly."
			/>
			<Feedback
				name="suriya"
				state="District First(JAFFNA)"
				batch="2021 A/L(MATHS-NEW)"
				body="Mora exams are very similar to our A/L final examination. It helps students find their strengths and weaknesses beforehand."
			/>
		</div>
	</div>
</div>
