---
import Feedback from "../components/Feedback.astro";
import { getLangFromUrl, useTranslations } from "../i18n/utils";

const t = useTranslations(getLangFromUrl(Astro.url));
---

<section class="bg-ultra-violet-200 pt-7 px-0">
	<h2 class="text-center text-3xl">{t("feedback_heading")}</h2>
	<div>
		<div
			class="flex overflow-x-scroll px-5 pt-4 gap-2 snap-x snap-mandatory scroll-p-[50%]"
		>
			<Feedback
				name="iroshan"
				state="Ex-President"
				batch="(Tamil Literary Association)"
				body={t("feedback_iroshan")}
			/>
			<Feedback
				name="darukeesan"
				state="Island First"
				batch="2014 A/L (MATHS)"
				body={t("feedback_darukeesan")}
			/>
			<Feedback
				name="abarna"
				state="Island First"
				batch="2019 A/L (BIO-OLD)"
				body={t("feedback_abarna")}
			/>
			<Feedback
				name="sankavi"
				state="District First(JAFFNA)"
				batch="2019 A/L(MATHS-OLD)"
				body={t("feedback_sankavi")}
			/>
			<Feedback
				name="jathusan"
				state="District First(JAFFNA)"
				batch="2019 A/L(MATHS-NEW)"
				body={t("feedback_jathurshan")}
			/>
			<Feedback
				name="sundarbavan"
				state="Island First(JAFFNA)"
				batch="2020 A/L(MATHS-NEW)"
				body={t("feedback_sundarbavan")}
			/>
			<Feedback
				name="suriya"
				state="District First(JAFFNA)"
				batch="2021 A/L(MATHS-NEW)"
				body={t("feedback_suriya")}
			/>
		</div>
	</div>
</section>
