---
// JS required for this section goes here (don't bother for now)
---

<article>
	<center>
	<h1>Feedback From Achievers</h1>
	</center>
	<div class="section">
		<div class="one">
				<p>IROSHAN</br>
			Ex-President<br>Tamil Literary Association</p>
			
			<p>It has gone through a varied dimension and now it has reached a national 
				recognition and standerd. Simply to say It's just Another Level.</p>
		</div>
		<img src="achievers/iroshan.jpeg">
	</div>
	
		<div class="section">
		<div class="one">
				<p>Darukeesan</br>
			Isaland First<br>2014 A/L (MATHS)</p>
			
			<p>It is a very common notion of the society that the students who are in 
				universities focus only in their studies and have no care and concern 
				towards the society. Our students have proved that to be wrong.</p>
		</div>
		<img src="achievers/daru.jpg">
	
	</div>
	
	<div class="section">
		<div class="one">
				<p>Abarna</br>
			Island First<br>2019 A/L (BIO-OLD)</p>
			
			<p>Since the exam papers are prepared by well experienced teachers, This 
				exam gets important in our preparations for final exam. It is better 
				to practise two or three years of mora exam pastpapers to face the final examination successfully!! </p>
		</div>
		<img src="achievers/abarna.jpg" alt="abarna's image">
	
	</div>
	<div class="section">
		<div class="one">
				<p>Sankavi</br>
		   District First (JAFFNA)<br>2019 A/L (MATHS-OLD)</p>
			
			<p>Mora exams becom a part of the A/L examination.It gave me more practise and confidence.I 
				am very glad about it. I saw the reflection of mora exams in my final examination.</p>
		</div>
		<img src="achievers/sankavi.jpeg">
	
	</div>
	
	<div class="section">
		<div class="one">
				<p>Jathushan</br>
			District First (Jaffna)<br>2019 A/L (MATHS-NEW)</p>
			
			<p>MORA exam provided a chance for improve my time management,the most important aspect of an examination.
				This examination creates an environment similar to that of the final examination; which helps to develop our mental stamina. </p>
		</div>
		<img src="achievers/jathusan.jpeg">
	
	</div>
	
	<div class="section">
		<div class="one">
				<p>Sundarabavan</br>
			Island First (JAFFNA)<br>2020 A/L (MATHS-NEW)</p>
			
			<p>Due to the COVID 19 pandemic,we hadn't faced any model exams nearly five 
				months. In that respect, Mora exams helped me to develop the ability of 
				approaching the questions and answering them properly.</p>
		</div>
		<img src="achievers/Sundarabavan.jpg">
	
	</div>
	
	x
	
	<div class="section">
		<div class="one">
				<p>Suriya</br>
			District First (JAFFNA)<br>2021 A/L (MATHS)</p>
			
			<p>Mora exams are very similar to our A/L final examination. It helps
				 students to find their strengths and weaknesses beforehand.</p>
		</div>
		<img src="achievers/Suriya.jpeg">
	
	</div>
</article>
	
	
	
	
	
	
	
	
	
	<style>
		h1{
			color:antiquewhite
		}
		article{
			background-color:rgb(12, 38, 66);
		   
		}
		
		.section{
			width:40%;
			padding:20px;
			background:linear-gradient(45deg,#ff9991,#1999ff);
			border-radius: 30px;
			display:flex;
			justify-content:space-between;
			
			
			
		}
		img{
			height:250px
			width : 100px;
			height : 100px;
			border-radius:400%
			
		}
	</style>