---
import Feedback from "../components/Feedback.astro";
import { getLangFromUrl, useTranslations } from "../i18n/utils";

const t = useTranslations(getLangFromUrl(Astro.url));
---

<section class="bg-ultra-violet-200 pt-7 px-0">
	<h2 class="text-center text-3xl">{t("feedback_heading")}</h2>
	<div>
		<div
			class="flex overflow-x-scroll overflow-y-hidden px-5 py-4 gap-2 snap-x snap-mandatory scroll-p-[50%]"
		>
			<Feedback
				name="iroshan"
				state={t("achivers_ranking_1")}
				batch={t("name__tla")}
				body={t("feedback_iroshan")}
			/>
			<Feedback
				name="darukeesan"
				state={t("achivers_ranking_2")}
				batch="2014 A/L (MATHS)"
				body={t("feedback_darukeesan")}
			/>
			<Feedback
				name="abarna"
				state={t("achivers_ranking_3")}
				batch="2019 A/L (BIO-OLD)"
				body={t("feedback_abarna")}
			/>
			<Feedback
				name="sankavi"
				state={t("achivers_ranking_4")}
				batch="2019 A/L(MATHS-OLD)"
				body={t("feedback_sankavi")}
			/>
			<Feedback
				name="jathusan"
				state={t("achivers_ranking_5")}
				batch="2019 A/L(MATHS-NEW)"
				body={t("feedback_jathusan")}
			/>
			<Feedback
				name="sundarbavan"
				state={t("achivers_ranking_6")}
				batch="2020 A/L(MATHS-NEW)"
				body={t("feedback_sundarbavan")}
			/>
			<Feedback
				name="suriya"
				state={t("achivers_ranking_7")}
				batch="2021 A/L(MATHS-NEW)"
				body={t("feedback_suriya")}
			/>
			<Feedback
				name="snekan"
				state={t("achivers_ranking_8")}
				batch="2022 A/L(MATHS)"
				body={t("feedback_snekan")}
			/>
		</div>
	</div>
</section>
