<section>
	<h1>FEEDBACK FROM ACHIEVERS</h1>
	<div class="achievers-container">
		<div class="feedback">
			<img src="/achievers/iroshan.jpeg" alt="iroshan" />
			<p>
				<span class="name">Iroshan</span><br />
				 Ex-President<br />
				 Tamil Literary Association
			</p>
			<p>
				It has gone through a variety of  dimensions, and now it has reached  national
				recognition and standards. Simply put, it's just another level.
			</p>
		</div>
		<div class="feedback">
			<img src="/achievers/daru.jpg" alt="darukeesan" />
			<p>
				<span class="name">Darukeesan</span><br />
				 Island First<br />
				 2014 A/L(MATHS)
			</p>
			<p>
				It is a common notion in society that students who are in
				universities focus only on their studies and have no care or concern
				for society. Our students have proved that to be wrong.
			</p>
		</div>
		<div class="feedback">
			<img src="/achievers/abarna.jpg" alt="abarna" />
			<p>
				<span class="name">Abarna</span><br />
				 Island First<br />2019 A/L(BIO-OLD)
			</p>
			<p>
				Since the exam papers are prepared by well-experienced teachers, this
				team is important in our preparations for the final exam. It is better to
				practice two or three years of Mora exam past papers to face the final
				examination successfully !!
			</p>
		</div>
		<div class="feedback">
			<img src="/achievers/sankavi.jpeg" alt="sankavi" />
			<p>
				<span class="name">Sankavi</span><br />
				 District First(JAFFNA)<br />2019 A/L(MATHS-OLD)
			</p>
			<p>
				Mora exams become part of the A/L examination. It gave me more
				practice and confidence. I am very glad about it. I saw the reflection
				of mora exams in my final examination.
			</p>
		</div>
		<div class="feedback">
			<img src="/achievers/jathusan.jpeg" alt="jathusan" />
			<p>
				<span class="name">Jathushan</span><br />
				 District First(JAFFNA)<br />2019 A/L(MATHS-NEW)
			</p>
			<p>
				 The MORA exam provided a chance to improve my time management,the most
				important aspect of an examination. This examination creates an
				environment similar to that of the final examination, which helps to
				develop our mental stamina.
			</p>
		</div>
		<div class="feedback">
			<img src="/achievers/Sundarabavan.jpg" alt="Sundarabavan" />
			<p>
				<span class="name">Sundarabavan</span><br />
				 Island First(JAFFNA)<br />2020 A/L(MATHS-NEW)
			</p>
			<p>
				Due to the COVID-19 pandamic, we hadn't faced any Medel exams for nearly
				five months. In that respect, Mora exams helped me  develop the
				ability to approach the questions and answer them properly.
			</p>
		</div>
		<div class="feedback">
			<img src="/achievers/Suriya.jpeg" alt="suriya" />
			<p>
				<span class="name">Suriya</span><br />
				 District First(JAFFNA)<br />2021 A/L(A/L(MATHS-NEW)
			</p>
			<p>
				Mora exams are very similar to our A/L final examination. It helps
				students find their strengths and weaknesses beforehand.
			</p>
		</div>
	</div>
</section>

<style>
	h1 {
		text-align: center;
	}
	.achievers-container {
		overflow: auto hidden;
		display: flex;
		gap: 20px;
		margin-bottom: 20px;
	}
	.feedback {
		padding: 15px;
		text-align: justify;
		transition: 0.15s;
		min-width: 400px;
		width: 32%;
	}
	.feedback:hover {
		background-color: lightblue;
	}

	img {
		height: 80px;
		width: 80px;
		border-radius: 50%;
		margin: 10px;
		margin-right: 40px;
	}
	.name {
		font-size: 20px;
		font-weight: bold;
		margin-bottom: 50px;
	}
</style>
