<body>
<center>
<h1>FEEDBACK FROM ACHIEVERS</h1>
</center>
<div class="section">
   <div class="one">
          <p>Iroshan<br>
              Ex-president<br>
                Tamil Literary Association</p>

                <p>It has gone through a varied dimension
                   and now it has reached a national recognitionand standared. 
                   Simply to say It's just Another Level</p>
     </div>
     <img src="iroshan.jpeg">
  </div>

 <div class="section">
  <div class="one">
             <p>Darukeesan<br>
             Island First <br>2014 A/L (MATHS)</p>

             <p>It is very common notion of the society
              that the students who are in universities
              forcus only in their studies and have to 
              care and concern towards the society . 
              Our students have proved that to be wrong.</p>

 </div>
 <img src="daru.jpg">
 </div>


  <div class="section">
        <div class="one">
              <p>Abarna<br>
                 Island First<br>
                  2019 A/L (BIO-OLD)</p>

                   <p>Since the exam papers are prepared by well
                   experienced teachers ,This exam gets important in our preparations
                   for final exam.It is better to practise two or three years of mora exam 
                   pastpaper to face the final exammination successfully!!</p>

      </div>
      <img src="abarna.jpg">
      </div>


      <div class="section">
      <div class="one">
             <p>Sankavi<br>
             District First(JAFFNA)<br>
             2019 A/L(MATHS-OLD)</p>


             <p>Mora exams become a part of the A/L examination.It
              have me more pratice and
             confidence. I am very glad about it.I saw the reflection
              of mora exams in my final examination.</p>
             

       </div>
       <img src=" sankavi.jpeg">
       </div>


       <div class="section">
       <div class="one">
           <p>Jathusan<br>
           District First (Jaffna)<br>2019 A/L (MATHS-NEW)</p>

           <P>Mora exam provided a chance for improve my time management ,
           the most important aspect of an examination . This examination
            creates an enviroment 
           similar to that of the final examination, which
            helps to develop our mental stamina.</p>

        </div>
            
       
        <img src="jathusan al feedback.jpeg">
        </div>

        <div class="section">
           <div class="one">
                <p>Sundarbavan<br>
                Island First (JAFFNA)<br>
                2020 A/L (MATHS-NEW)</p>

         <p>Due to the COVID 19 pandemic , we hadn't faced any model exams
         neraly five months . In that respect , Mora exams helped me
         to develop the ability at approaching
          the questions and answerind them properly.</p>


          </div>
          <img src="Sundarabavan.jpg">
          </div>


          <div class="section">
          <div class"one">

               <p>Suriya <br>
               District First (Jaffna)<br>
               2021 A/L (MATHS)
               </p>


               <p>Mora exams are very similat to our A/L final examination.It
               helps students to find their strenghs and weaknesses beforehand.</p>


      </div>
      <img src="Suriya.jpeg">
      </div>
    </body>































































































  <style>

  .section{
          width:60%;
          padding:20px;
          background-color:linear-gradient(45deg,#ff9991,#1999ff);
          border-radius:30px;
          display:flex;
          justify-content:space-between;}


  img{
    height:250px;
    width:80px;
    height:80px;
    
  }


  </style>
















