
<div class="row">
	<div class="column">
	  <div class="card">
		<h2>❤️ Mora E-Tamils</h2>
	<p>
		We, engineers, are very much concerned about society and its betterment, and
		we believe that the betterment of society will bring a more prosperous and
		hybrid future generation than irrelevant mutations.
	</p>
	<br>
	
	<p>
		It is very obvious how the engineering students in our society bring
		themselves up and plan out schemes to assist our community in many ways. We
		too, the Tamil people of the University of Moratuwa, brought ourselves
		together under the banner of Mora E-Tamils.
	</p>
	
	
	<div class="ddone">
		<h3>Contact Us</h3>
		<ul class="list-none p-0">
			<li>Address: Keraliwaththai Lane, Neervely South, Neervely, Jaffna.</li>
			<li>Email: moraetamils@gmail.com</li>
			<li>Telephone: +94704616400</li>
		</ul>
	</div>
	<br>
	<br>
	<br>
	<br>
	<br>
	  </div>
	</div>
  
<div class="column">
	  <div class="card">
		<h3>Contact Form</h3>

<div class="container">
  <form action="/action_page.php">
    <label for="fname">Student Name</label>
    <input type="text" id="fname" name="firstname" placeholder="Your name..">

    <label for="lname">Email</label>
    <input type="text" id="lname" name="lastname" placeholder="Your Mail Addres..">

    <label for="subject">Subject</label>
    <select id="subject" name="subject">
      <option value="Maths">Maths</option>
      <option value="Chemistry">Chemistry</option>
      <option value="phy">Physics</option>
	  <option value="bio">Biology</option>
	  <option value="ICT">ICT</option>
    </select>

    <label for="subject">COMMENTS</label>
    <textarea id="subject" name="subject" placeholder="Write something.." style="height:104px"></textarea>

    <input type="submit" value="Submit">
  </form>
</div>

		</div>
	  </div>
	</div>
	
	
	
	
	</div>
  </div>
  <style>
	* {
	  box-sizing: border-box;
	}
	
	body {
	  font-family: Arial, Helvetica, sans-serif;
	}
	
	/* Float four columns side by side */
	.column {
	  float: left;
	  width: 50%;
	  padding: 0 10px;
	}
	
	/* Remove extra left and right margins, due to padding */
	.row {margin: 0 -5px;}
	
	/* Clear floats after the columns */
	.row:after {
	  content: "";
	  display: table;
	  clear: both;
	}
	
	/* Responsive columns */
	@media screen and (max-width: 600px) {
	  .column {
		width: 100%;
		display: block;
		margin-bottom: 20px;
	  }
	}
	
	/* Style the counter cards */
	.card {
	  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	  padding: 16px;
	  text-align: center;
	  background-color: #f83eef4f;
	}
	body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #8307a8;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #470685;
}

.container {
  border-radius: 5px;
  background-color: #f83eef04;
  padding: 20px;
}
</style>