<div class="gap-5 grid md:grid-cols-2 sm:frid-clos-1">
	<div class="pt-12 px-6 shadow-md text-center bg-mora-purple-200">
		<h2 class="text-3xl">❤️ Mora E-Tamils</h2>
		<p class="text-justify text-lg">
			We, engineers, are very much concerned about society and its betterment,
			and we believe that the betterment of society will bring a more prosperous
			and hybrid future generation than irrelevant mutations.
		</p>
		<p class="text-justify text-lg">
			It is very obvious how the engineering students in our society bring
			themselves up and plan out schemes to assist our community in many ways.
			We too, the Tamil people of the University of Moratuwa, brought ourselves
			together under the banner of Mora E-Tamils.
		</p>
	</div>
	<div class="bg-mora-purple-200 px-6">
		<h2 class="text-3xl">Contact Us</h2>
		<ul class="text-left text-lg list-disc pb-5">
			<li>Address: Keraliwaththai Lane, Neervely South, Neervely, Jaffna.</li>
			<li>Email: moraetamils@gmail.com</li>
			<li>Telephone: +94704616400</li>
		</ul>
	</div>
</div>
