---
// JS required for this section goes here (don't bother for now)
---

<section>
	<h1>Contact Us</h1>
	<div class="cards-container">
		<div>
			<img
				src="https://th.bing.com/th/id/R.4f088fed46932a1c0856ae7e6b1c6a0a?rik=3oW6UNWm8AyhEg&pid=ImgRaw&r=0"
				class="imone"
			/>
			<h3>Our Address</h3>
			<p>Keraliwaththai Lane, Neervely South, Neervely, Jaffna.</p>
		</div>
		<div class="ddone">
			<img
				src="https://th.bing.com/th/id/R.c52a6ca4b798e80a5519571bbab7ae41?rik=%2bwkIGhr68DWj5w&riu=http%3a%2f%2fclipart-library.com%2fimages%2fyikrLMzET.png&ehk=WeMFq7O6zXZAbby20f%2bySIZ6EUxdhPnbsU4Fnor7Mfo%3d&risl=&pid=ImgRaw&r=0"
				class="imone"
			/>
			<h3>Mora E-Tamils</h3>
			<p>
				We, engineers, are very much concerned about  society and its
				betterment, and we believe that the betterment of  society will bring a
				more prosperous and hybrid future generation than  irrelevant mutations.
			</p>
			<br />
			<p>
				It is very obvious  how the engineering students in our society
				bring  themselves up and plan out schemes to assist our community in many
				ways. We too, the Tamil people of the University of Moratuwa, brought
			   ourselves together under the banner of Mora E-Tamils.
			</p>
		</div>
		<div class="ddone">
			<img
				src="https://th.bing.com/th/id/R.0ca9cc34607aab8cb722ab67b7b5f958?rik=FF2fM%2bCW7RqwCw&riu=http%3a%2f%2fwebbiquity.com%2fwp-content%2fuploads%2f2011%2f02%2fEmail-Icon.jpg&ehk=%2fGdR90TBkvGgN6Nmd6O6tOuSydW00%2bewtbcohsgmeQo%3d&risl=&pid=ImgRaw&r=0"
				class="imone"
			/>
			<h3>Email Us</h3>
			<p>moraetamils@gmail.com</p>
		</div>
		<div class="ddone">
			<img
				src="https://www.logolynx.com/images/logolynx/8d/8d291fd3cc6737abcc69cb13cbd0625c.png"
				class="imone"
			/>
			<h1>Call Us</h1>
			<p>tel:+94704616400</p>
		</div>

		<div class="ddone">
			<form>
				<table>
					<tr>
						<td><input type="text" placeholder="Your Name"></td>
					</tr>
					<tr>
						<td class="email"
							><input type="email" placeholder="Your Email"></td
						>
					</tr>
					<tr>
						<td><input type="text" placeholder="Subject"></td>
					</tr>
					<tr>
						<td><input type="text" placeholder="Message"></td>
					</tr>
				</table>
			</form>
			<button class="button">Send Message</button>
		</div>
	</div>
</section>

<style>
	section {
		padding: 30px;
		width: 100%;
		color: black;
		background: hsl(73, 11%, 75%);
	}
	.email {
		height: 100px;
		width: 200px;
	}
	
	h3 {
		font-size: 25px;
	}
	h1{
		font-size: 50px;
	}
	.cards-container {
		padding: 10px;
	}
	.ddone{
		background: linear-gradient(#eb78b1, hsl(191, 30%, 54%));
		color: black;
		padding: 30px;
		border-style: solid;
		border-color: rgb(222, 193, 193);
	}
	
	.imone {
		height: 50px;
		width: 50px;
		border-style: dotted;
		border-color: red;
	}
	

	.button:hover {
		color: red;
		background-color:darkgray;
	}
	
</style>
