---
// JS required for this section goes here (don't bother for now)
---

<section>
	<h2>❤️ Mora E-Tamils</h2>
	<p>
		We, engineers, are very much concerned about society and its betterment, and
		we believe that the betterment of society will bring a more prosperous and
		hybrid future generation than irrelevant mutations.
	</p>
	<p>
		It is very obvious how the engineering students in our society bring
		themselves up and plan out schemes to assist our community in many ways. We
		too, the Tamil people of the University of Moratuwa, brought ourselves
		together under the banner of Mora E-Tamils.
	</p>
	<div class="ddone">
		<h3>Contact Us</h3>
		<ul class="list-none p-0">
			<li>Address: Keraliwaththai Lane, Neervely South, Neervely, Jaffna.</li>
			<li>Email: moraetamils@gmail.com</li>
			<li>Telephone: +94704616400</li>
		</ul>
	</div>
	<div class="cards-container">
		<div class="ddone">
			<form>
				<table>
					<tr>
						<td><input class="tbox" type="text" placeholder="Your Name" /></td>
					</tr>
					<tr>
						<td><input class="tbox" type="email" placeholder="Your Email" /></td
						>
					</tr>
					<tr>
						<td><input class="tbox" type="text" placeholder="Subject" /></td>
					</tr>
					<tr>
						<td><textarea class="tbox" placeholder="Message" /></td>
					</tr>
				</table>
			</form>
			<button class="button">Send Message</button>
		</div>
	</div>
</section>

<style>
	section {
		padding: 30px;
		background: #d9dbf1;
		color: black;
	}
	.tbox {
		height: 30px;
		width: 300px;
	}
	h2 {
		@apply mt-0;
		font-size: 32px;
	}
	h3 {
		@apply m-0;
		font-size: 25px;
	}
	textarea {
		resize: vertical;
	}
	input, textarea {
		@apply pl-2 pt-0;
		border-radius: 2px;
		border: 1px solid;
	}
	.cards-container {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
	}

	.imone {
		height: 30px;
		width: 30px;
	}

	.button:hover {
		color: red;
		background-color: darkgray;
	}
	@media (max-width: 720px) {
		.cards-container {
			grid-template-columns: repeat(1, 1fr);
	
		}
	}
</style>
