---
// JS required for this section goes here (don't bother for now)
---

<section>
	<center>
	<h2>Contact Us</h2>
		<div>
			<span><i class="fa-solid fa-location-dot"></i> </span>
			
			
			<h3>Our Address</h3>
			<p>Keraliwaththai Lane, Neervely South, Neervely, Jaffna.</p>
		</div>
		</center>
		<div class="ddone">
			<i class="fa-solid fa-heart"></i>
			<h3>Mora E-Tamils</h3>
			<p>
				We, engineers, are very much concerned about  society and its
				betterment, and we believe that the betterment of  society will bring a
				more prosperous and hybrid future generation than  irrelevant mutations.
			</p>
			<br />
			<p>
				It is very obvious  how the engineering students in our society
				bring  themselves up and plan out schemes to assist our community in many
				ways. We too, the Tamil people of the University of Moratuwa, brought
			   ourselves together under the banner of Mora E-Tamils.
			</p>
		</div>
		<div class="cards-container">
		<div class="ddone">
			<img
				src="https://th.bing.com/th/id/R.0ca9cc34607aab8cb722ab67b7b5f958?rik=FF2fM%2bCW7RqwCw&riu=http%3a%2f%2fwebbiquity.com%2fwp-content%2fuploads%2f2011%2f02%2fEmail-Icon.jpg&ehk=%2fGdR90TBkvGgN6Nmd6O6tOuSydW00%2bewtbcohsgmeQo%3d&risl=&pid=ImgRaw&r=0"
				class="imone"
			/>
			<h3>Email Us</h3>
			<p>moraetamils@gmail.com</p>
		</div>
		<div class="ddone">
			<i class="fa-solid fa-phone"></i>
			<h3>Call Us</h3>
			<p>tel:+94704616400</p>
		</div>
		
		<div class="ddone">
			<form>
				<table>
					<tr>
						<td><input class="tbox" type="text" placeholder="Your Name"></td>
					</tr>
					<tr>
						<td ><input class="tbox" type="email" placeholder="Your Email"></td>
						
					</tr>
					<tr>
						<td><input class="tbox"  type="text" placeholder="Subject"></td>
					</tr>
					<tr>
						<td><input class="tbox"  type="text" placeholder="Message"></td>
					</tr>
				</table>
			</form>
			<button class="button">Send Message</button>
		</div>
	</div>
</section>

<style>
	section {
		padding: 30px;
		
		color: black;
		background: hsl(73, 11%, 85%);
	}
	.tbox {
		height:30px;
		width: 300px;
	}
	
	h3 {
		font-size: 25px;
	}
	h1{
		font-size: 50px;
	}
	.cards-container {
		display: grid;
		grid-template-columns: repeat(3,1fr);
	}
	.ddone{
		background: linear-gradient(#eb78b1, hsl(191, 30%, 54%));
		color: black;
		padding-left: 30px;
		border-style: solid;
		border-color: rgb(222, 193, 193);
		padding-top: 30px;
		padding-bottom: 10px;
		padding-right: 15px;
	}
	
	.imone {
		height: 50px;
		width: 50px;
		border-style: dotted;
		border-color: red;
	}
	

	.button:hover {
		color: red;
		background-color:darkgray;
	}
	@media (max-width:720px) {
		.cards-container{
			grid-template-columns: repeat(1,1fr);
		}
	}
	
</style>
