---
// JS required for this section goes here (don't bother for now)
---
<div class="dheadd">
<center>
<h1 class="one">CONTACT</h1>
</center>
<div class="ddone">
	<center>
	<img src="https://th.bing.com/th/id/R.4f088fed46932a1c0856ae7e6b1c6a0a?rik=3oW6UNWm8AyhEg&pid=ImgRaw&r=0" class="imone">
	<h1 class="two" >Our Address</h1>
	<p>Keraliwaththai Lane, Neervely South, Neervely, Jaffna<p/>
	</center>
</div>
<div class="ddtwo">
	<center>
	<h1>Mora E-Tamils</h1>
	</center>
	<p>We, Engineers are very much concerned about the society and its betterment and belief that the betterment of the society will bring a prosperous and hybrid future generation than the irrelevant mutations.</p>
	<br>
	<p>It is very obvious that how the engineering students in our society bring up themselves and plan out schemes to assist our community in many ways. We too, the Tamil people of The University of Moratuwa brought together ourselves under the banner of Mora E-Tamils.</p>

</div>
<div class="ddthree">
<center>
	<img src="https://th.bing.com/th/id/R.0ca9cc34607aab8cb722ab67b7b5f958?rik=FF2fM%2bCW7RqwCw&riu=http%3a%2f%2fwebbiquity.com%2fwp-content%2fuploads%2f2011%2f02%2fEmail-Icon.jpg&ehk=%2fGdR90TBkvGgN6Nmd6O6tOuSydW00%2bewtbcohsgmeQo%3d&risl=&pid=ImgRaw&r=0" class="imtwo">
	<h1 class="two">Email Us</h1>
	<p>moraetamils@gmail.com</p>
	</center>
</div>
<div class="ddfour">
<center>
	<h1>Call Us</h1>
	<p>tel:+94704616400</p>
</center>
</div>

<div class="ddfive">
	<form>
		<table>
			<tr>
				<td ><input type="text" placeholder="Your Name"></td>
				<td class="email"><input type="email" placeholder="Your Email"></td>
			</tr>
			<br>
			<br>
			<tr>
				<td><input type ="text" placeholder="Subject"></td>
			</tr>
			<tr>
				<td><input type="text" placeholder="Message"></td>
			</tr>


		</table>
	</form>
	<button class="button">Send Message</button>
</div>

				
			







</div>

<style>
	.email{
		height: 100px;
		width: 200px;
	}
	.one{
		font-size: 45px;
	}
	.two{
		font-size: 35;
	}
	.ddone{
		height: 200px;
		width: 650px;
		background-color: violet;
		color: white;
		padding: 10px;
		margin: 30px;
		border-style: solid;
		border-color: red;
		


	}
	.dheadd{
		padding: 30px;
		margin:20px;
		height: 2000px;
		width: 1400px;
		border-style: dotted;
		color: white;
		background-color: black;
		


	}
	.ddtwo{
		height: 400px;
		width: 650px;
		background-color: violet;
		color: white;
		padding: 30px;
		margin: 30px;
		border-style: solid;
		border-color: red;
		

		
	}
	.ddfive{
		height: 400px;
		width: 650px;
		background-color: violet;
		padding: 30px;
		margin: 30px;
		border-style: solid;
		color: white;
		border-color: red;
	}
	.imone{
		height: 40px;
		width: 40px;
		border-style: dotted;
		border-color: red;
		
	}
	.imtwo{
		height: 40px;
		width: 40px;
		border-style: dotted;
		border-color: red;
	}
	.ddthree{
		height: 200px;
		width: 250px;
		border-style: solid;
		background-color: violet;
		padding: 30px;
		margin: 50px;
		color: white;
		border-color: red;
		

	}
	.button:hover{
		color:red;

	}
	.ddthree:hover{
		color: blue;
	}
	.ddtwo:hover{
		color: blue;
	}
	.ddone:hover{
		color: blue;
	}
	.ddfour:hover{
		color: blue;
	}
	.ddfive:hover{
		color: blue;
	}
	.ddfour{
		height: 200px;
		width: 250px;
		border-style: solid;
		background-color: violet;
		padding: 30px;
		margin: 50px;
		style: blocked;
		color: white;
		border-color: red;
	}

</style>
