---
// JS required for this section goes here (don't bother for now)
---

<footer class="w-full bg-[#fdf8ff]">
	<div class="pb-2 grid md:grid-cols-3">
		<div class="ml-5 ">
			<h2 class="font-extrabold text-justify pb-1 text-[#3c005a]">Mora E-Tamils</h2>
			<p class="pb-1 relative text-[#000000]">Faculty of Engineering,University of Moratuwa.</p>
			<div class="relative">
				<p class="relative pb-1 pl-1 text-lg text-justify text-[#3c005a] font-semibold">Contact Us :</p>
				<ul class="list-none p-0">
					<li>
						<span><i class="fa-solid fa-phone"></i></span>
						<a class="mb-0.5 pl-5 text-[#800080] no-underline inline-block" href="Tel:+94 70 461 6400">+94 70 461 6400</a>
					</li>
					<li>
						<span><i class="fa-solid fa-envelope"></i></span>
						<a class="mb-0.5 pl-5 text-[#800080] no-underline inline-block" href="Mailto:moraetamils@gmail.com">moraetamils@gmail.com</a>
					</li>
				</ul>
			</div>
		
			<div class="grid">
				<p class="relative text-justify text-[#3c005a] font-semibold">Follow Us :</p>
				<ul class="list-none grid grid-flow-col gap-1">
					<li><a href="#"><i class="mb-0.5 text-[#ffffff] text-base content-center justify-center no-underline rounded-full grid inline-block w-8 h-8 bg-[#3c005a] fa-brands fa-facebook-f"></i></a></li>
					<li><a href="#"><i class="mb-0.5 text-[#ffffff] text-base content-center justify-center no-underline rounded-full grid inline-block w-8 h-8 bg-[#3c005a] fa-brands fa-x-twitter"></i></a></li>
					<li><a href="#"><i class="mb-0.5 text-[#ffffff] text-base content-center justify-center no-underline rounded-full grid inline-block w-8 h-8 bg-[#3c005a] fa-brands fa-linkedin-in"></i></a></li>
					<li><a href="#"><i class="mb-0.5 text-[#ffffff] text-base content-center justify-center no-underline rounded-full grid inline-block w-8 h-8 bg-[#3c005a] fa-brands fa-instagram"></i></a></li>
					<li><a href="#"><i class="mb-0.5 text-[#ffffff] text-base content-center justify-center no-underline rounded-full grid inline-block w-8 h-8 bg-[#3c005a] fa-brands fa-youtube"></i></a></li>
				</ul>
			</div>
		</div>
		<div class="grid grid-flow-col">
		<div class="grid ">
			<h3 class="ml-5 text-[#3c005a] relative">Useful Links</h3>
			<ul class="list-none">
				<li><a class="mb-0.5 text-[#800080] no-underline inline-block" href="#">Home</a></li>
				<li><a class="mb-0.5 text-[#800080] no-underline inline-block" href="#">About Us</a></li>
				<li><a class="mb-0.5 text-[#800080] no-underline inline-block" href="#">Time table</a></li>
				<li><a class="mb-0.5 text-[#800080] no-underline inline-block" href="#">Past Papers</a></li>
				<li><a class="mb-0.5 text-[#800080] no-underline inline-block" href="#">Practice Papers</a></li>
			</ul>
		</div>
		<div class="grid">
			<h3 class="ml-5 text-[#3c005a] relative">Our Services</h3>
			<ul class="list-none">
				<li><a class="text-[#800080] no-underline inline-block" href="#">Mora Exam</a></li>
				<li><a class="text-[#800080] no-underline inline-block" href="#">Practice Papers</a></li>
				<li><a class="mb-0.5 text-[#800080] no-underline inline-block" href="#">E-learning Videos</a></li>
				<li><a class="mb-0.5 text-[#800080] no-underline inline-block" href="#">E-learning Site</a></li>
				<li><a class="mb-0.5 text-[#800080] no-underline inline-block" href="#">Doubts Forms</a></li>
			</ul>
		</div>
		</div>
		<div class="grid ml-5 mr-3">
			<h3 class="text-[#3c005a] relative">Subscribe Our Newsletter</h3>
			<p class="para">Enter your email address to get our updates faster.</p>
			<form action="#" onsubmit="
			mailse(); return false; " method="POST">
				<input id="gf" style="color: #000;" type="email" name="email" /><input
					type="submit"
					value="Subscribe"
				/>
			</form>
		</div>
	</div>
	<div class="pt-1 text-center border-t-2"><hr>
		<p>
			© Copyright reserved to <span class="font-semibold">Mora E-Tamils</span>. All Rights Reserved
		</p>
		<p>Designed by <a class="no-underline font-semibold text-[#800080]" href="#">Mora E-Tamils</a></p>
	</div>
</footer>
