---
import LanguageSelector from "../components/LanguageSelector.astro";
import { getLangFromUrl, useTranslations } from "../i18n/utils";

const t = useTranslations(getLangFromUrl(Astro.url));
---

<section
	class="pt-20 pb-4 bg-cover text-white bg-[url('/hero.jpg')] bg-mora-purple-50 h-[70vh] flex flex-col items-center"
>
	<!-- <img class="h-24 sm:h-32" src="/logo.png" /> -->
	<h1
		class="text-3xl sm:text-5xl mt-0 md:text-6xl !leading-snug max-w-[45ch] text-center"
	>
		{t("hero__title")}
		<!-- Welcome To<br /><span class="inline-block w-max">Mora&nbsp;Exams</span> -->
	</h1>
	<LanguageSelector class="mt-auto" />
	<!-- <p class="text-xl sm:text-2xl">Please Select Your language</p>
	<div>
		<button
			class="mr-6 mb-28 text-xl bg-purple-800 cursor-pointer px-8 py-3 rounded-2xl hover:bg-purple-950"
			><a class="no-underline text-blue-100" href="">Tamil</a></button
		>
		<button
			class="text-xl bg-purple-800 cursor-pointer px-8 py-3 rounded-2xl hover:bg-purple-950"
			><a class="no-underline text-blue-100" href="">English</a></button
		>
	</div> -->
</section>
