---
// JS required for this section goes here (don't bother for now)
---

<div class="sm:pt-40 sm:pr-0 sm:pl-60 sm:pb-60 bg-[url('/hero-bg.jpg')] bg-cover text-white">
  <img class="sm:bg-cover"src="/logo.png" />
  <p class="text-4xl">WELCOME TO MORA E-TAMILS</p>
  <p class="text-2xl">Please Select Your language</p>
  <div class="button">
    <button
      class="mr-6 text-xl bg-purple-800 cursor-pointer px-12 py-5 rounded-2xl hover:bg-purple-950"
      ><a class="no-underline text-blue-100" href="">Tamil</a></button
    >
    <button
      class="text-xl bg-purple-800 cursor-pointer px-12 py-5 rounded-2xl hover:bg-purple-950"
      ><a class="no-underline text-blue-100" href="">English</a></button
    >
  </div>
</div>
