---
// JS required for this section goes here (don't bother for now)
---

<section
	class="py-20 bg-cover text-black text-center bg-mora-purple-50"
>
	<img class="h-24 sm:h-32" src="/logo.png" />
	<h1 class="text-4xl sm:text-6xl">
		WELCOME TO<br /><span class="inline-block w-max">MORA&nbsp;E-TAMILS</span>
	</h1>
	<!-- <p class="text-xl sm:text-2xl">Please Select Your language</p>
	<div>
		<button
			class="mr-6 mb-28 text-xl bg-purple-800 cursor-pointer px-8 py-3 rounded-2xl hover:bg-purple-950"
			><a class="no-underline text-blue-100" href="">Tamil</a></button
		>
		<button
			class="text-xl bg-purple-800 cursor-pointer px-8 py-3 rounded-2xl hover:bg-purple-950"
			><a class="no-underline text-blue-100" href="">English</a></button
		>
	</div> -->
</section>
