---
// JS required for this section goes here (don't bother for now)
---

<section
<<<<<<< HEAD
	class="pt-20 bg-cover text-black text-center bg-blend-darken bg-mora-black-400"
=======
	class="py-20 bg-[url('/hero-bg.jpg')] bg-cover text-white text-center bg-blend-darken bg-mora-black-400"
>>>>>>> 5bc1e26a98996f4c65fcee0c029e481e15254d3e
>
	<img class="h-24 sm:h-32" src="/logo.png" />
	<h1 class="text-4xl sm:text-6xl">
		WELCOME TO<br /><span class="inline-block w-max">MORA&nbsp;E-TAMILS</span>
	</h1>
	<!-- <p class="text-xl sm:text-2xl">Please Select Your language</p>
	<div>
		<button
			class="mr-6 mb-28 text-xl bg-purple-800 cursor-pointer px-8 py-3 rounded-2xl hover:bg-purple-950"
			><a class="no-underline text-blue-100" href="">Tamil</a></button
		>
		<button
			class="text-xl bg-purple-800 cursor-pointer px-8 py-3 rounded-2xl hover:bg-purple-950"
			><a class="no-underline text-blue-100" href="">English</a></button
		>
	</div> -->
</section>
