---
// JS required for this section goes here (don't bother for now)
import Button from "../components/Button.astro";
import { getLangFromUrl, useTranslations } from "../i18n/utils";

const t = useTranslations(getLangFromUrl(Astro.url));
---

<section class="pt-10 align-center">
	<div
		class="card text-primary-100 p-3 sm:p-10 pt-7 text-justify border-gray-300 border-2 rounded-lg"
	>
		<h2 class="text-3xl sm:text-4xl text-left">
			{t("what_is_mora_pilot_exam__h2")}
		</h2>
		<p class="text-xl">
			{t("what_is_mora_pilot_exam__p1")}
		</p>
		<p class="text-xl">
			{t("what_is_mora_pilot_exam__p2")}
		</p>
		<ul>
			<li class="text-xl">
				{t("what_is_mora_pilot_exam__li1")}
			</li>
			<li class="text-xl">
				{t("what_is_mora_pilot_exam__li2")}
			</li>
			<li class="text-xl">
				{t("what_is_mora_pilot_exam__li3")}
			</li>
		</ul>
		<p class="text-xl">
			{t("what_is_mora_pilot_exam__p3")}
		</p>
	</div>
</section>

<style>
	section {
		background: url("/assets/backgrounds/bg1.jpg") center / cover no-repeat
			fixed;
	}

	div.card {
		/* max-width: 900px; */
		/* min-height: auto; */
		/* display: flex; */
		/* flex-direction: column; */
		/* justify-content: space-between; */

		/* max-width: 1000px; */
		/* height: auto; */

		/* border: 1px solid theme(colors.gray.100); */
		/* border-radius: 1rem; */
		/* background-color: rgba(255, 255, 255, 0.9); */
		box-shadow: 0 0 5px 0px theme(colors.black);
		backdrop-filter: blur(15px);
		/* column-gap: 20px; */
	}
</style>
