---
// JS required for this section goes here (don't bother for now)
import { getLangFromUrl, useTranslations } from "../i18n/utils";

const t = useTranslations(getLangFromUrl(Astro.url));
---

<section>
	<h2 class="text-3xl sm:text-4xl">{t("what_is_mora_pilot_exam__h2")}</h2>
	<p class="text-xl text-justify">
		{t("what_is_mora_pilot_exam__p1")}
	</p>

	<p class="text-xl text-justify">
		{t("what_is_mora_pilot_exam__p2")}
	</p>

	<ul>
		<li class="text-xl">
			{t("what_is_mora_pilot_exam__li1")}
		</li>
		<li class="text-xl text-justify">
			{t("what_is_mora_pilot_exam__li2")}
		</li>
		<li class="text-xl">
			{t("what_is_mora_pilot_exam__li3")}
		</li>
	</ul>
	<p class="text-xl text-justify">
		{t("what_is_mora_pilot_exam__p3")}
	</p>
</section>
