---
// JS required for this section goes here (don't bother for now)
---

<h1>What is Mora A/L Pilot Examination?</h1>
<div class="class1">
<p>When sweeping over the ideas as to choose the ways to advance the 
	academic standards of Tamil speaking students, our buddies thought of 
	Pilot Examinations which could boost up the last time preparations and 
	a way to appraise the students themselves at the very edge.</p>

<p>But providing a common exam paper and marking wouldn’t help them out as 
they are very much familiar to them. So, to append more and more spice,</p>

<p>     ✔️ The exam papers are set by well popular and experienced teachers.</p>
<p>     ✔️ The exam papers are set in a way, which portray the final examination environment. This helps students to ensure the time management.</p>
<p>     ✔️ We too release island ranks based on their z-scores.</p>
<p>It vividly canvases the standards of the examinations and its potential 
	among the students so that the students can adjust themselves to become 
	more and more fit to the final contest (G.C.E A/L), which make their 
	future more efficacious.</p>
</div>
<style>
	.class1,h1 {
		margin: 50px 200px 50px 200px;
		
	}
	.class1{
		font-size: 20px;
	}
	
</style>