---

---

<div class="one"> 
	<p><h1 align="center">Find your examination centres</h1>
	<h4>We have 67 examination center network covering almost whole island.
	 Choose your District to view the examination centres available...</h4></p>
	
	
	
		<select id="search-input">
			<option  >🔍Choose a District...</option>
			<option value="option 1">Ampara</option>
			<option value="option 2">Ampara</option>
			<option value="option 3">Anurathapura</option>
			<option value="option 4">Budulla</option>
			<option value="option 5">Batticaloa</option>
			<option value="option 6">Colombo</option>
			<option value="option 7">Galle</option>
			<option value="option 8">Gampaha</option>
			<option value="option 9">Hambantota</option>
			<option value="option 10">Jaffna</option>
			<option value="option 11">Kalutura</option>
			<option value="option 12">Kandy</option>
			<option value="option 13">Kegalle</option>
			<option value="option 14">Kilinochchi</option>
			<option value="option 15">Kurunegala</option>
			<option value="option 16">Mannar</option>
			<option value="option 17">Matale</option>
			<option value="option 18">Matara</option>
			<option value="option 29">Mullaitivu</option>
			<option value="option 20">Nuwara-Eliya</option>
			<option value="option 21">Puttalam</option>
			<option value="option 22">Trincomalee</option>
			<option value="option 23">Vavuniya</option>
		</select>
	</div>



	












<style>
	.one{
		background:linear-gradient(-229deg,#8ce0f1,#79f391);
		text-align: center;
		height:300px;
		margin:20px;
	}
	#search-input{
		padding:10px;
		border:1px solid#ccc;
		border-radius:10px;
		width:400px;

	}
	
	
	
</style>