---

---

<div class="text-center mt-30 mb-16 p-10">
  <p>
    <h2 class="text-3xl">Find your examination centres</h2>
    <h4 class="text-xl">
      We have 67 examination centre networks covering almost the whole island. Choose
      your district to view the examination centres available...
    </h4>
  </p>

  <select class="p-3 border rounded-xl w-80 h-12 mt-5">
    <option>🔍Choose a District...</option>
    <option value="ampara">Ampara</option>
    <option value="anurathapura">Anurathapura</option>
    <option value="budulla">Budulla</option>
    <option value="batticaloa">Batticaloa</option>
    <option value="colombo">Colombo</option>
    <option value="galle">Galle</option>
    <option value="gampaha">Gampaha</option>
    <option value="hambantota">Hambantota</option>
    <option value="jaffna">Jaffna</option>
    <option value="kalutura">Kalutura</option>
    <option value="kandy">Kandy</option>
    <option value="kegalle">Kegalle</option>
    <option value="kilinochchi">Kilinochchi</option>
    <option value="kurunegala">Kurunegala</option>
    <option value="mannar">Mannar</option>
    <option value="matale">Matale</option>
    <option value="matara">Matara</option>
    <option value="mullaitivu">Mullaitivu</option>
    <option value="nuwara-eliya">Nuwara-Eliya</option>
    <option value="puttalam">Puttalam</option>
    <option value="trincomalee">Trincomalee</option>
    <option value="vavuniya">Vavuniya</option>
  </select>
</div>


