---
import { getLangFromUrl, useTranslations } from "../i18n/utils";

const t = useTranslations(getLangFromUrl(Astro.url));

const districts = [
	"ampara",
	"anurathapura",
	"budulla",
	"batticaloa",
	"colombo",
	"galle",
	"gampaha",
	"hambantota",
	"jaffna",
	"kalutura",
	"kandy",
	"kegalle",
	"kilinochchi",
	"kurunegala",
	"mannar",
	"matale",
	"matara",
	"mullaitivu",
	"nuwara-eliya",
	"puttalam",
	"trincomalee",
	"vavuniya",
];

function capitalize(word: string) {
	return word.charAt(0).toUpperCase().concat(word.slice(1));
}
---

<section class="bg-sky-200 text-center mt-30 py-10" id="exam-centres">
	<h2 class="text-3xl mt-0 mx-auto max-w-[30ch]">
		{t("find_your_examination_centres__tile")}
	</h2>
	<p class="text-xl">
		{t("find_your_examination_centres__description")}
	</p>

	<select class="p-3 border rounded-xl h-12 mt-5">
		<option>🔍Choose a District...</option>
		{
			districts.map((district) => {
				return (
					<option value={district}>
						{district.split("-").map(capitalize).join("-")}
					</option>
				);
			})
		}
	</select>
</section>
