---

---

<div class="one">
	<p>
		<h1>Find your examination centres</h1>
		<h4>
			We have 67 examination center network covering almost whole island. Choose
			your District to view the examination centres available...
		</h4>
	</p>

	<select id="search-input">
		<option>🔍Choose a District...</option>
		<option value="ampara">Ampara</option>
		<option value="anurathapura">Anurathapura</option>
		<option value="budulla">Budulla</option>
		<option value="batticaloa">Batticaloa</option>
		<option value="colombo">Colombo</option>
		<option value="galle">Galle</option>
		<option value="gampaha">Gampaha</option>
		<option value="hambantota">Hambantota</option>
		<option value="jaffna">Jaffna</option>
		<option value="kalutura">Kalutura</option>
		<option value="kandy">Kandy</option>
		<option value="kegalle">Kegalle</option>
		<option value="kilinochchi">Kilinochchi</option>
		<option value="kurunegala">Kurunegala</option>
		<option value="mannar">Mannar</option>
		<option value="matale">Matale</option>
		<option value="matara">Matara</option>
		<option value="mullaitivu">Mullaitivu</option>
		<option value="nuwara">Nuwara-Eliya</option>
		<option value="puttalam">Puttalam</option>
		<option value="trincomalee">Trincomalee</option>
		<option value="vavuniya">Vavuniya</option>
	</select>
</div>

<style>
	h1 {
		text-align: center;
	}
	.one {
		background: linear-gradient(-229deg, #8ce0f1, #79f391);
		text-align: center;
		height: 300px;
		margin: 20px;
	}
	#search-input {
		padding: 10px;
		border: 1px solid#ccc;
		border-radius: 10px;
		width: 400px;
	}
</style>
