---
import Button from "../components/Button.astro";
// JS required for this section goes here (don't bother for now)
---

<section class="bg-cyan-100 w-full py-10 text-center" id="past-papers">
	<h2 class="text-3xl mt-0">Looking for Mora Exam Pastpapers?</h2>
	<p class="text-xl">
		Now It is even easier to find the paper you need. We have advanced filtering
		options. And we divided all the questions for each year based on the
		sub-sections of each subject. Now you can practice our past papers
		section-wise.
	</p>
	<Button>View Past Papers</Button>
</section>
