---
// JS required for this section goes here (don't bother for now)
---

<section class="bg-cyan-100 w-full py-10">
	<div class="m-10 mt-0 text-center">
	<h2 class="text-3xl">Looking for Mora Exam Pastpapers?</h2>
	<p class="text-xl">Now It is even easier to find the paper you need. We have advanced filtering options. And we divided all the questions for each year based on the sub-sections of each subject. Now you can practice our past papers section-wise.</p>
	<button class="text-lg p-5 rounded-xl cursor-pointer hover:text-[#f0f8ff] hover:bg-purple-900" >view pastpapers </button>
	<br>
	</div>
</section>
