---
// JS required for this section goes here (don't bother for now)
---

<center>
<div>
	<h1>Looking for Mora Exam Pastpapers ??? </h1>
	<p>Now It is even easier to find the paper you need. We have advanced filtering options. And we divided all the quetions of each year, based on the sub sections of each subjects. Now you can practise our pastpapers section wise.</p>
	<button  >view pastpapers </button>
	<br>
</div>
</enter>
<style>
	div{
		background-color: hwb(291 28% 27% / 0.711);
		width: 1400px;
		padding: 30px;
		border-style: solid;
		
	}
	

	

</style>
