---
// JS required for this section goes here (don't bother for now)
---

<div class="pastpaper">
	<div class="pastpaper-info">
	<h1>Looking for Mora Exam Pastpapers ??? </h1>
	<p>Now It is even easier to find the paper you need. We have advanced filtering options. And we divided all the questions for each year based on the sub - sections of each subject. Now you can practice our past papers section - wise.</p>
	<button class="button" >view pastpapers </button>
	<br>
	</div>
</div>
<style>
	.pastpaper{
		background-color: hwb(291 28% 27% / 0.711);
		width: 100%;
		padding: 30px;
		border-radius: 15px;
		
	}
	.pastpaper-info{
		margin: 0px 50px 50px 50px;
		text-align: center;
	}
	p{
		font-size: 20px;
		
	}
	h1{
		font-size: 50px;
	}
	.button{
		font-size: 28px;
		padding: 15px;
		background-color: purple;
		border-radius: 10px;
		cursor: pointer;
	}
	.button:hover{
		background-color: #3c006b;
		color: aliceblue;
	}
</style>
