---
// JS required for this section goes here (don't bother for now)
---
<article>
<center>
	<p><h1>E-Learning videos</h1></p>
	<p><h3>We have done video explainations regarding important topics of each
		 subjects in our youtube channel.Click any of subjects listed below 
		 and view respective videos</h3></p>
	
		 
	<a href="https://www.youtube.com/watch?v=_Q4DpITrqeQ&list=PL7rqMCp2H_mRqMLtF-QEYsiHhwgzn5ifn" target="_blank"> 
		<img  src="subject/maths.jpg"><button> MATHS</button></a>
	
	<a href="https://www.youtube.com/watch?v=vJ8oHxNUJGk&list=PL7rqMCp2H_mQ1lASzvCKicK19cB6IcihD" target="_blank">
		 <img src="subject/physics.jpg"><button>PHYSICS</button></a>
	
	<a href="https://www.youtube.com/watch?v=9uxap27eeps&list=PL7rqMCp2H_mTyC9g8FjscRqLDSEkFivpP" target="_blank">
		 <img  src="subject/chemistry.jpg"> <button>CHEMISTRY</button></a>
	
	</center>
</article>
	
	
	<style>
	
	img{
	   width:280px ;
	   padding:3cm 0;
	   
	}
	
	button{
		background-color: #3498db;
		color:#fff
		padding:50px 50px;
		
		width:120px;
		height:50px;
		
	}
	article{
		background:linear-gradient(45deg,#ff3231,#ff08) ;
		border-radius: 3%;
		padding-top: 2cm;
		padding-bottom: 2cm;
		
	}
	
	</style>