---
// JS required for this section goes here (don't bother for now)
---

<section>
  <h2 class="text-center m-0 text-3xl">E-Learning videos</h2>
  <p class="text-center text-xl my-8 mb-10">
    We have done video explanations regarding important topics in each subject
    on our YouTube channel. Click on any of the subjects listed below and view
    the respective videos.
  </p>
  <div class="flex gap-24 mt-10 mx-20">
	<div class="">
		<img class="w-full"src="subject/maths.jpg" alt="Maths">
		<button class="ml-32 mt-5 px-8 py-4 rounded-xl text-lg "><a
			href="https://www.youtube.com/watch?v=_Q4DpITrqeQ&list=PL7rqMCp2H_mRqMLtF-QEYsiHhwgzn5ifn"
			target="_blank" class="no-underline hover:underline"
		>Mathematics</a></button>
	</div>
	<div>
		<img class="w-full" src="subject/physics.jpg" alt="Physics"> 
		<button class="ml-36 mt-8 px-8 py-4 rounded-xl text-lg "><a
			href="https://www.youtube.com/watch?v=vJ8oHxNUJGk&list=PL7rqMCp2H_mQ1lASzvCKicK19cB6IcihD"
			target="_blank"class="no-underline hover:underline"
		>Physics</a></button>
	</div>
	<div>
		<img class="w-full " src="subject/chemistry.jpg" alt="Chemistry">
		<button class="ml-32 mt-5 px-8 py-4 rounded-xl text-lg "><a
			href="https://www.youtube.com/watch?v=9uxap27eeps&list=PL7rqMCp2H_mTyC9g8FjscRqLDSEkFivpP"
			target="_blank"class="no-underline hover:underline"
		>Chemistry</a></button>
	</div>



    
  </div>
</section>
