---
// JS required for this section goes here (don't bother for now)
---
<article>
<center>
	<p class="one"><b>E-Learning videos</b></p>
	<p class="two">We have done video explainations regarding important topics of each
		 subjects in our youtube channel. Click any of subjects listed below 
		 and view respective videos</p>
	</center>
		 
	<a href="https://www.youtube.com/watch?v=_Q4DpITrqeQ&list=PL7rqMCp2H_mRqMLtF-QEYsiHhwgzn5ifn" target="_blank"> 
		<img  src="subject/maths.jpg"><button class="button"> MATHS</button></a>
	
	<a href="https://www.youtube.com/watch?v=vJ8oHxNUJGk&list=PL7rqMCp2H_mQ1lASzvCKicK19cB6IcihD" target="_blank">
		 <img src="subject/physics.jpg"><button class="button">PHYSICS</button></a>
	
	<a href="https://www.youtube.com/watch?v=9uxap27eeps&list=PL7rqMCp2H_mTyC9g8FjscRqLDSEkFivpP" target="_blank">
		 <img  src="subject/chemistry.jpg"> <button class="button">CHEMISTRY</button></a>
	

</article>
	
	
	<style>
	
	img{
	   width:280px ;
	   padding:3cm 0;
	   
	}
	
	button{
		background-color: #3498db;
		color:#fff
		cursor:pointer:
		padding:50px 90px;
		width:170px;
		height:50px;
		border-radius:5px;
		font-size:25px
	}
	.button:hover{
		background-color: darkblue;
		color:#fff
	}
	.one{
		font-size: 60px;
	}
	.two{
		font-size:30px
	}
	article{
		background:linear-gradient(45deg,#ff3231,#ff08) ;
		border-radius: 3%;
		padding-top: 2cm;
		padding-bottom: 2cm;
		padding-left: 2cm;
	}
	
	</style>