---
// JS required for this section goes here (don't bother for now)
---

<div class="ttable">
	<center><h2>Time Table</h2></center>
	<div class="one">
		<div class="two">
			<h4>th November 2023 (Saturday)</h4>
			<p>1.30 p.m.-4.40 p.m. :<br/> COMBINED MATHEMATICS-I</p>
			<p> 1.30 p.m.-3.30 p.m. : <br/> BIOLOGY - I</p>
		</div>
		<div class="two">
			<h4>th November 2023 (Sunday)</h4>
			<p>1.30 p.m.-4.40 p.m. :<br/>  COMBINED MATHEMATICS-II</p>
			<p>1.30 p.m.-4.40 p.m. : <br/> BIOLOGY - II</p>
		</div>
		<div class="two">
			<h4>th December 2023 (Saturday)</h4>
			<p>1.30 p.m.-3.30 p.m. :<br/>  PHYSICS - I</p>
		</div>
		<div class="two">
			<h4>th December 2023 (Sunday)</h4>
			<p>1.30 p.m.-4.40 p.m. :<br/>  PHYSICS - II</p>
		</div>
		<div class="two">
			<h4>th December 2023 (Saturday)</h4>
			<p>1.30 p.m.-3.30 p.m. : <br/> CHEMISTRY - I</p>
			<p> 1.30 p.m.-3.30 p.m. : <br/> ICT - I</p>
		</div>
		<div class="two">
			<h4>th December 2023 (Sunday)</h4>
			<p>1.30 p.m.-4.40 p.m. : <br/> CHEMISTRY - II</p>
			<p> 1.30 p.m.-4.40 p.m. : <br/>  ICT - II</p>
		</div>
	</div>
</div>

<style>
	.one {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 20px;
	}
	.two {
		background-color: #D9DBF1;
		border-radius: 20px;
		padding-left:30px;
		padding-right: 30px;
	}
	.ttable {
		padding:60px;
		
	}
	@media (max-width:720px){
	.one{
		grid-template-columns: repeat(1,1fr);
	}	
	}
	
</style>
