---
import { getLangFromUrl, useTranslations } from "../i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<div class="body1">
	<h2 class="text-center mt-5">{t("timetable__title")}</h2>
	<div class="ag-format-container">
		<div class="ag-courses_box">
			<div class="ag-courses_item">
				<a
					class="ag-courses-item_link bg-gradient-to-tr from-[#b12eef] to-purple-900"
				>
					<div class="ag-courses-item_bg"></div>
					<div class="ag-courses-item_date-box">
						<span class="ag-courses-item_date"> 25.11.2023</span>
					</div>
					<div class="ag-courses-item_title p-0">
						<p class="text-[16px] lg:text-[22px] !leading-snug">
							<span class="font-[600]">{t("timetable__date25_sub1")}</span><br
							/><span class="sm:ml-[20px]">1.30 P.m - 4.40 P.m</span><br /><span
								class="font-[600]">{t("timetable__date25_sub2")}</span
							><br /><span class="sm:ml-[20px]">1.30 P.m - 3.30 P.m</span>
							<span class="article-number"></span>
						</p>
					</div>
				</a>
			</div>

			<div class="ag-courses_item">
				<a
					class="ag-courses-item_link bg-gradient-to-tr from-[#b12eef] to-purple-900"
				>
					<div class="ag-courses-item_bg"></div>
					<div class="ag-courses-item_date-box">
						<span class="ag-courses-item_date"> 26.11.2023</span>
					</div>
					<div class="ag-courses-item_title">
						<p class="text-[16px] lg:text-[22px] !leading-snug">
							<span class="font-[600]"> {t("timetable__date26_sub1")}</span>
							<br /><span class="sm:ml-[20px]">1.30 P.m - 4.40 P.m</span><br
							/><span class="font-[600]">{t("timetable__date26_sub2")}</span><br
							/><span class="sm:ml-[20px]"></span>1.30 P.m - 4.40 P.m <span
								class="article-number"></span>
						</p>
					</div>
				</a>
			</div>

			<div class="ag-courses_item">
				<a
					class="ag-courses-item_link bg-gradient-to-tr from-[#b12eef] to-purple-900"
				>
					<div class="ag-courses-item_bg"></div>
					<div class="ag-courses-item_date-box">
						<span class="ag-courses-item_date"> 30.11.2023</span>
					</div>
					<div class="ag-courses-item_title">
						<p class="text-[16px] lg:text-[22px] !leading-snug">
							<span class="font-[600]"> {t("timetable__date30_sub1")}</span><br
							/><span class="sm:ml-[20px]"></span>2.30 P.m - 4.30 P.m<span
								class="article-number"></span>
						</p>
					</div>
				</a>
			</div>

			<div class="ag-courses_item">
				<a
					class="ag-courses-item_link bg-gradient-to-tr from-[#b12eef] to-purple-900"
				>
					<div class="ag-courses-item_bg"></div>
					<div class="ag-courses-item_date-box">
						<span class="ag-courses-item_date"> 03.12.2023</span>
					</div>
					<div class="ag-courses-item_title">
						<p class="text-[16px] lg:text-[22px] !leading-snug">
							<span class="font-[600]">{t("timetable__date03_sub1")}</span><br
							/><span class="sm:ml-[20px]"></span>1.30 P.m - 4.40 P.m <span
								class="article-number"></span>
						</p>
					</div>
				</a>
			</div>

			<div class="ag-courses_item">
				<a
					class="ag-courses-item_link bg-gradient-to-tr from-[#b12eef] to-purple-900"
				>
					<div class="ag-courses-item_bg"></div>
					<div class="ag-courses-item_date-box">
						<span class="ag-courses-item_date"> 09.12.2023</span>
					</div>
					<div class="ag-courses-item_title">
						<p class="text-[16px] lg:text-[22px] !leading-snug">
							<span class="font-[600]">{t("timtable__date09_sub1")}</span><br
							/><span class="sm:ml-[20px]"></span>1.30 P.m - 3.30 P.m<br /><span
								class="font-[600]">{t("timtable__date09_sub2")}</span
							><br /><span class="sm:ml-[20px]"></span>1.30 P.m - 3.30 P.m<span
								class="article-number"></span>
						</p>
					</div>
				</a>
			</div>
			<div class="ag-courses_item">
				<a
					class="ag-courses-item_link bg-gradient-to-tr from-[#b12eef] to-purple-900"
				>
					<div class="ag-courses-item_bg"></div>
					<div class="ag-courses-item_date-box">
						<span class="ag-courses-item_date"> 10.12.2023</span>
					</div>
					<div class="ag-courses-item_title">
						<p class="text-[16px] lg:text-[22px] !leading-snug">
							<span class="font-[600]">{t("timtable__date10_sub1")}</span><br
							/><span class="sm:ml-[20px]"></span>1.30 P.m - 4.40 P.m <br
							/><span class="font-[600]">{t("timtable__date10_sub2")}</span><br
							/><span class="sm:ml-[20px]"></span>1.30 P.m - 4.40 P.m<span
								class="article-number"></span>
						</p>
					</div>
				</a>
			</div>
		</div>
	</div>
</div>

<style>
	.ag-courses_box {
		@apply grid pt-5 py-12 grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-3;
	}
	.ag-courses_item {
		@apply rounded-lg;
		-ms-flex-preferred-size: calc(33.33333% - 30px);
		flex-basis: calc(33.33333% - 30px);

		/* margin: 0 15px 30px; */

		overflow: hidden;

		cursor: pointer;
	}
	.ag-courses-item_link {
		@apply h-full;
		display: block;
		padding-left: 30px;
		padding-top: 15px;
		overflow: hidden;
		position: relative;
		opacity: 1;
		/* background: linear-gradient(to top, #c471f5 0%, #fa71cd 100%); */
	}
	.ag-courses-item_link:hover,
	.ag-courses-item_link:hover .ag-courses-item_date {
		text-decoration: none;
		color: #fff;
	}
	.ag-courses-item_link:hover .ag-courses-item_bg {
		-webkit-transform: scale(10);
		-ms-transform: scale(10);
		transform: scale(10);
	}
	.ag-courses-item_title {
		min-height: 87px;
		margin: 0 0 25px;

		overflow: hidden;

		font-size: 20px;
		color: #fff;

		z-index: 2;
		position: relative;
	}
	.ag-courses-item_date-box {
		font-size: 25px;
		color: #fff;

		z-index: 2;
		position: relative;
	}
	.ag-courses-item_date {
		color: whitesmoke;
		font-weight: 600;

		-webkit-transition: color 0.5s ease;
		-o-transition: color 0.5s ease;
		transition: color 0.5s ease;
	}
	.ag-courses-item_bg {
		height: 128px;
		width: 128px;
		background-color: #b12eef;

		z-index: 1;
		position: absolute;
		top: -75px;
		right: -75px;

		border-radius: 50%;

		-webkit-transition: all 0.5s ease;
		-o-transition: all 0.5s ease;
		transition: all 0.5s ease;
	}
	.ag-courses_item:nth-child(2n) .ag-courses-item_bg {
		background-color: #b12eef;
	}
	.ag-courses_item:nth-child(3n) .ag-courses-item_bg {
		background-color: #b12eef;
	}
	.ag-courses_item:nth-child(4n) .ag-courses-item_bg {
		background-color: #b12eef;
	}
	.ag-courses_item:nth-child(5n) .ag-courses-item_bg {
		background-color: #b12eef;
	}
	.ag-courses_item:nth-child(6n) .ag-courses-item_bg {
		background-color: #b12eef;
	}

	@media only screen and (max-width: 979px) {
		.ag-courses_item {
			-ms-flex-preferred-size: calc(50% - 30px);
			flex-basis: calc(50% - 30px);
		}
		.ag-courses-item_title {
			font-size: 24px;
		}
	}

	@media only screen and (max-width: 767px) {
		.ag-format-container {
			width: 96%;
		}
	}
	@media only screen and (max-width: 639px) {
		.ag-courses_item {
			-ms-flex-preferred-size: 100%;
			flex-basis: 100%;
		}
		.ag-courses-item_title {
			min-height: 72px;
			line-height: 1;

			font-size: 28px;
		}
		.ag-courses-item_link {
			padding: 22px 40px;
		}
		.ag-courses-item_date-box {
			font-size: 20px;
		}
	}
</style>
