---
import Timetable from "../components/Timetable.astro";

// JS required for this section goes here (don't bother for now)
---

<section class="px-10 my-10">
  <h2 class="text-center">Time Table</h2>
  <div class="gap-5 grid md:grid-cols-2 grid-cols-1">
    <div>
      <Timetable
        date="th November 2023 (Saturday)"
        Time1="1.30 p.m.-4.40 p.m. :"
        subject1="COMBINED MATHEMATICS-I"
        Time2=" 1.30 p.m.-3.30 p.m. : "
        subject2=" BIOLOGY - I"
      />
    </div>

    <div>
      <Timetable
        date="th November 2023 (Sunday)"
        Time1="1.30 p.m.-4.40 p.m. :"
        subject1="COMBINED MATHEMATICS-II"
        Time2="1.30 p.m.-4.40 p.m. :"
        subject2=" BIOLOGY - II"
      />
    </div>

    <div>
      <Timetable
        date="th December 2023 (Saturday)"
        Time1="1.30 p.m.-3.30 p.m. :"
        subject1="PHYSICS - I"
        Time2=""
        subject2=""
      />
    </div>

    <div>
      <Timetable
        date="th December 2023 (Sunday)"
        Time1="1.30 p.m.-4.40 p.m. :"
        subject1="PHYSICS - II"
        Time2=""
        subject2=""
      />
    </div>

    <div>
      <Timetable
        date="th December 2023 (Saturday)"
        Time1="1.30 p.m.-3.30 p.m. : "
        subject1="CHEMISTRY - I"
        Time2="1.30 p.m.-3.30 p.m. :"
        subject2="ICT - I"
      />
    </div>
    <div>
      <Timetable
        date="th December 2023 (Sunday)"
        Time1="1.30 p.m.-4.40 p.m. : "
        subject1="CHEMISTRY - II"
        Time2="1.30 p.m.-4.40 p.m. : "
        subject2="ICT - II"
      />
    </div>
  </div>
</section>
