---
import { getLangFromUrl, useTranslations } from "../i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<section>
	<h2 class="text-center mt-5">{t("timetable__title")}</h2>

	<!-- Vertical Timeline -->

	<section id="conference-timeline">
		<div class="timeline-start">{t("timetable__start")}</div>
		<div class="conference-center-line"></div>
		<div class="conference-timeline-content">
			<!-- Article -->
			<div class="timeline-article">
				<div class="content-left-container">
					<div class="content-left">
						<p class="text-[16px] lg:text-[22px]">
							{t("timetable__date25_sub1")}<br /><span class="sm:ml-[20px]"
								>1.30 P.m - 4.40 P.m</span
							><br />{t("timetable__date25_sub2")}<br /><span
								class="sm:ml-[20px]">1.30 P.m - 3.30 P.m</span
							>
							<span class="article-number"></span>
						</p>
					</div>
					<span class="timeline-author"></span>
				</div>
				<div class="content-right-container">
					<!-- <div class="content-right">
							<p>
								<br />
								<span class="article-number"></span>
							</p>
						</div> -->
					<!-- <span class="timeline-author"></span> -->
				</div>
				<div class="meta-date">
					<span class="date">25</span>
					<span class="month">{t("timetable__date_sep")}</span>
				</div>
			</div>
			<!-- // Article -->
			<!-- Article -->
			<div class="timeline-article">
				<!-- <div class="content-left-container">
							<div class="content-left">
								<p>
									Combined Mathematics-II<br />1.30 PM - 4.30 PM<span
										class="article-number"></span>
								</p>
							</div>
							<span class="timeline-author"></span>
						</div> -->
				<div class="content-right-container">
					<div class="content-right">
						<p class="text-[16px] lg:text-[22px]">
							{t("timetable__date26_sub1")}<br /><span class="sm:ml-[20px]"
								>1.30 P.m - 4.40 P.m</span
							><br />{t("timetable__date26_sub2")}<br /><span
								class="sm:ml-[20px]"></span>1.30 P.m - 4.40 P.m <span
								class="article-number"></span>
						</p>
					</div>
					<span class="timeline-author"></span>
				</div>
				<div class="meta-date">
					<span class="date">26</span>
					<span class="month">{t("timetable__date_sep")}</span>
				</div>
			</div>
			<!-- // Article -->
			<!-- Article -->
			<div class="timeline-article">
				<div class="content-left-container">
					<div class="content-left">
						<p class="text-[16px] lg:text-[22px]">
							{t("timetable__date30_sub1")}<br /><span class="sm:ml-[20px]"
							></span>2.30 P.m - 4.30 P.m<span class="article-number"></span>
						</p>
					</div>
					<span class="timeline-author"></span>
				</div>
				<div class="content-right-container">
					<!-- <div class="content-right">
								<p>
									Biology-II<br />1.30 PM - 4.30 PM <span class="article-number"
									></span>
								</p>
							</div> -->
					<span class="timeline-author"></span>
				</div>
				<div class="meta-date">
					<span class="date">30</span>
					<span class="month">{t("timetable__date_sep")}</span>
				</div>
			</div>
			<!-- // Article -->
			<!-- Article -->
			<div class="timeline-article">
				<!-- <div class="content-left-container">
							<div class="content-left">
								<p>
									Combined Mathematics-II<br />1.30 PM - 4.30 PM<span
										class="article-number"></span>
								</p>
							</div>
							<span class="timeline-author"></span>
						</div> -->
				<div class="content-right-container">
					<div class="content-right">
						<p class="text-[16px] lg:text-[22px]">
							{t("timetable__date03_sub1")}<br /><span class="sm:ml-[20px]"
							></span>1.30 P.m - 4.40 P.m <span class="article-number"></span>
						</p>
					</div>
					<span class="timeline-author"></span>
				</div>
				<div class="meta-date">
					<span class="date">03</span>
					<span class="month">{t("timetable__date_dec")}</span>
				</div>
			</div>
			<!-- // Article -->
			<!-- Article -->
			<div class="timeline-article">
				<div class="content-left-container">
					<div class="content-left">
						<p class="text-[16px] lg:text-[22px]">
							{t("timtable__date09_sub1")}<br /><span class="sm:ml-[20px]"
							></span>1.30 P.m - 3.30 P.m<br />{t("timtable__date09_sub2")}<br
							/><span class="sm:ml-[20px]"></span>1.30 P.m - 3.30 P.m<span
								class="article-number"></span>
						</p>
					</div>
					<span class="timeline-author"></span>
				</div>
				<div class="content-right-container">
					<!-- <div class="content-right">
								<p>
									Biology-II<br />1.30 PM - 4.30 PM <span class="article-number"
									></span>
								</p>
							</div> -->
					<span class="timeline-author"></span>
				</div>
				<div class="meta-date">
					<span class="date">09</span>
					<span class="month">{t("timetable__date_dec")}</span>
				</div>
			</div>
			<!-- // Article -->
			<!-- Article -->
			<div class="timeline-article">
				<div class="content-left-container">
					<!-- <div class="content-left">
								<p>
									Combined Mathematics-II<br />1.30 PM - 4.30 PM<span
										class="article-number"></span>
								</p>
							</div> -->
					<span class="timeline-author"></span>
				</div>
				<div class="content-right-container">
					<div class="content-right">
						<p class="text-[16px] lg:text-[22px]">
							{t("timtable__date10_sub1")}<br /><span class="sm:ml-[20px]"
							></span>1.30 P.m - 4.40 P.m <br />{t("timtable__date10_sub2")}<br
							/><span class="sm:ml-[20px]"></span>1.30 P.m - 4.40 P.m<span
								class="article-number"></span>
						</p>
					</div>
					<span class="timeline-author"></span>
				</div>
				<div class="meta-date">
					<span class="date">10</span>
					<span class="month">{t("timetable__date_dec")}</span>
				</div>
			</div>
			<!-- // Article -->
		</div>
		<div class="timeline-end">{t("timetable__end")}</div>
	</section>
</section>
<!-- // Vertical Timeline -->
<style>
	/*===== Vertical Timeline =====*/
	#conference-timeline {
		position: relative;
		width: 100%;
		margin: 0 auto;
		margin-top: 30px;
		margin-bottom: 30px;
	}
	#conference-timeline .timeline-start,
	#conference-timeline .timeline-end {
		display: table;
		font-size: 18px;
		font-weight: 900;
		text-transform: uppercase;
		background: purple;
		padding: 15px 23px;
		color: #fff;
		max-width: 5%;
		width: 100%;
		text-align: center;
		margin: 0 auto;
	}
	#conference-timeline .conference-center-line {
		position: absolute;
		width: 5px;
		height: 100%;
		top: 0;
		left: 50%;
		margin-left: 0px;
		background: purple;
		z-index: -1;
	}
	#conference-timeline .conference-timeline-content {
		padding-top: 60px;
		padding-bottom: 60px;
	}

	.timeline-article {
		width: 100%;
		height: 100%;
		position: relative;
		overflow: hidden;
		margin: 20px 0;
	}
	.timeline-article .content-left-container,
	.timeline-article .content-right-container {
		max-width: 44%;
		width: 100%;
	}
	.timeline-article .timeline-author {
		display: block;
		font-weight: 400;
		font-size: 20px;
		line-height: 24px;
		color: #242424;
		text-align: right;
	}

	.timeline-article .content-left,
	.timeline-article .content-right {
		position: relative;
		width: auto;
		border: 5px solid #9b2cb4;
		background-color: #ded0de;
		box-shadow: 0 1px 3px rgba(0, 0, 0, 0.03);
		padding: 20px 15px;
	}
	.timeline-article .content-left {
		border-bottom-left-radius: 30px;
		border-bottom-right-radius: 30px;
		border-top-left-radius: 30px;
	}
	.timeline-article .content-right {
		border-bottom-left-radius: 30px;
		border-bottom-right-radius: 30px;
		border-top-right-radius: 30px;
	}
	.timeline-article p {
		margin: 0 0 0 60px;
		padding: 0;
		font-weight: 400;
		color: #242424;

		line-height: 24px;
		position: relative;
	}

	.timeline-article .content-left-container {
		float: left;
		margin: 0;
	}
	.timeline-article .content-right-container {
		float: right;
		margin: 0;
	}
	.timeline-article .content-left:before,
	.timeline-article .content-right:before {
		position: absolute;
		top: 20px;
		font-size: 23px;
		font-family: "FontAwesome";
		color: #fff;
	}
	.timeline-article .content-left:before {
		content: "\f0da";
		right: -13px;

		color: #9b2cb4;
		height: 12px;
	}
	.timeline-article .content-right:before {
		content: "\f0d9";
		left: -13px;
		color: #9b2cb4;
	}
	.timeline-article .meta-date {
		position: absolute;
		top: 0;
		left: 50%;
		width: 70px;
		height: 70px;
		margin-left: -31px;
		color: #fff;
		border-radius: 100%;
		background: purple;
	}
	.timeline-article .meta-date .date,
	.timeline-article .meta-date .month {
		display: block;
		text-align: center;
		font-weight: 500;
	}
	.timeline-article .meta-date .date {
		font-size: 24px;
		line-height: 40px;
	}
	.timeline-article .meta-date .month {
		font-size: 20px;
		line-height: 10px;
	}
	.timeline-article .content-left-container {
		margin-left: 30px;
	}
	.timeline-article .content-right-container {
		margin-right: 25px;
	}
	/*===== // Vertical Timeline =====*/

	/*===== Resonsive Vertical Timeline =====*/
	@media only screen and (max-width: 830px) {
		#conference-timeline .timeline-start,
		#conference-timeline .timeline-end {
			margin: 0;
		}
		#conference-timeline .conference-center-line {
			margin-left: 0;
			left: 50px;
		}
		.timeline-article .meta-date {
			margin-left: 0;
			left: 20px;
		}
		.timeline-article .content-left {
			border-top-left-radius: 0px;
			border-top-right-radius: 30px;
		}
		.timeline-article .content-left-container,
		.timeline-article .content-right-container {
			max-width: 100%;
			width: auto;
			float: none;

			margin-top: 7px;
		}
		.timeline-article .content-left-container {
		}
		.timeline-article .content-left,
		.timeline-article .content-right {
			padding: 10px 25px;
			min-height: 65px;
		}
		.timeline-article .content-left:before {
			content: "\f0d9";
			right: auto;
			left: -8px;
		}
		.timeline-article .content-right:before {
			display: none;
		}
		#conference-timeline .conference-center-line {
			margin-left: 23px;
		}
		.timeline-article .meta-date {
			margin-left: -2px;
		}
		.timeline-article .content-left-container,
		.timeline-article .content-right-container {
			margin-left: 90px;
		}
		.timeline-article .content-left,
		.timeline-article .content-right {
			border: 6px solid #9b2cb4;
		}
		#conference-timeline .timeline-end {
			margin-left: 10px;
		}
	}
	@media only screen and (max-width: 400px) {
		.timeline-article p {
			margin: 0;
		}
		.timeline-article p span.article-number {
			display: none;
		}
		#conference-timeline .conference-center-line {
			margin-left: 14px;
		}
		.timeline-article .meta-date {
			margin-left: -2px;
		}
		.timeline-article .content-left-container,
		.timeline-article .content-right-container {
			margin-left: 90px;
		}
	}
	/*===== // Resonsive Vertical Timeline =====*/
</style>
<div class="body1">
	<h2 class="text-center mt-5">{t("timetable__title")}</h2>
	<div class="ag-format-container">
		<div class="ag-courses_box">
			<div class="ag-courses_item">
				<a class="ag-courses-item_link">
					<div class="ag-courses-item_bg"></div>
					<div class="ag-courses-item_date-box">
						<span class="ag-courses-item_date"> 25.11.2023</span>
					</div>
					<div class="ag-courses-item_title">
						<p class="text-[16px] lg:text-[22px]">
							{t("timetable__date25_sub1")}<br /><span class="sm:ml-[20px]"
								>1.30 P.m - 4.40 P.m</span
							><br />{t("timetable__date25_sub2")}<br /><span
								class="sm:ml-[20px]">1.30 P.m - 3.30 P.m</span
							>
							<span class="article-number"></span>
						</p>
					</div>
				</a>
			</div>

			<div class="ag-courses_item">
				<a class="ag-courses-item_link">
					<div class="ag-courses-item_bg"></div>
					<div class="ag-courses-item_date-box">
						<span class="ag-courses-item_date"> 26.11.2023</span>
					</div>
					<div class="ag-courses-item_title">
						<p class="text-[16px] lg:text-[22px]">
							{t("timetable__date26_sub1")}<br /><span class="sm:ml-[20px]"
								>1.30 P.m - 4.40 P.m</span
							><br />{t("timetable__date26_sub2")}<br /><span
								class="sm:ml-[20px]"></span>1.30 P.m - 4.40 P.m <span
								class="article-number"></span>
						</p>
					</div>
				</a>
			</div>

			<div class="ag-courses_item">
				<a class="ag-courses-item_link">
					<div class="ag-courses-item_bg"></div>
					<div class="ag-courses-item_date-box">
						<span class="ag-courses-item_date"> 04.11.2022</span>
					</div>
					<div class="ag-courses-item_title">
						<p class="text-[16px] lg:text-[22px]">
							{t("timetable__date30_sub1")}<br /><span class="sm:ml-[20px]"
							></span>2.30 P.m - 4.30 P.m<span class="article-number"></span>
						</p>
					</div>
				</a>
			</div>

			<div class="ag-courses_item">
				<a class="ag-courses-item_link">
					<div class="ag-courses-item_bg"></div>
					<div class="ag-courses-item_date-box">
						<span class="ag-courses-item_date"> 03.12.2023</span>
					</div>
					<div class="ag-courses-item_title">
						<p class="text-[16px] lg:text-[22px]">
							{t("timetable__date03_sub1")}<br /><span class="sm:ml-[20px]"
							></span>1.30 P.m - 4.40 P.m <span class="article-number"></span>
						</p>
					</div>
				</a>
			</div>

			<div class="ag-courses_item">
				<a class="ag-courses-item_link">
					<div class="ag-courses-item_bg"></div>
					<div class="ag-courses-item_date-box">
						<span class="ag-courses-item_date"> 09.12.2023</span>
					</div>
					<div class="ag-courses-item_title">
						<p class="text-[16px] lg:text-[22px]">
							{t("timtable__date09_sub1")}<br /><span class="sm:ml-[20px]"
							></span>1.30 P.m - 3.30 P.m<br />{t("timtable__date09_sub2")}<br
							/><span class="sm:ml-[20px]"></span>1.30 P.m - 3.30 P.m<span
								class="article-number"></span>
						</p>
					</div>
				</a>
			</div>
			<div class="ag-courses_item">
				<a class="ag-courses-item_link">
					<div class="ag-courses-item_bg"></div>
					<div class="ag-courses-item_date-box">
						<span class="ag-courses-item_date"> 10.12.2023</span>
					</div>
					<div class="ag-courses-item_title">
						<p class="text-[16px] lg:text-[22px]">
							{t("timtable__date10_sub1")}<br /><span class="sm:ml-[20px]"
							></span>1.30 P.m - 4.40 P.m <br />{t("timtable__date10_sub2")}<br
							/><span class="sm:ml-[20px]"></span>1.30 P.m - 4.40 P.m<span
								class="article-number"></span>
						</p>
					</div>
				</a>
			</div>
		</div>
	</div>
</div>

<style>
	.ag-format-container {
		width: 1142px;
		margin: 0 auto;
	}

	.ag-courses_box {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: start;
		-ms-flex-align: start;
		align-items: flex-start;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;

		padding: 50px 0;
	}
	.ag-courses_item {
		-ms-flex-preferred-size: calc(33.33333% - 30px);
		flex-basis: calc(33.33333% - 30px);

		margin: 0 15px 30px;

		overflow: hidden;

		border-radius: 28px;
		cursor: pointer;
	}
	.ag-courses-item_link {
		display: block;
		padding: 10px 20px;
		background-color: #353333;

		overflow: hidden;

		position: relative;
	}
	.ag-courses-item_link:hover,
	.ag-courses-item_link:hover .ag-courses-item_date {
		text-decoration: none;
		color: #fff;
	}
	.ag-courses-item_link:hover .ag-courses-item_bg {
		-webkit-transform: scale(10);
		-ms-transform: scale(10);
		transform: scale(10);
	}
	.ag-courses-item_title {
		min-height: 87px;
		margin: 0 0 25px;

		overflow: hidden;

		font-weight: bold;
		font-size: 20px;
		color: #fff;

		z-index: 2;
		position: relative;
	}
	.ag-courses-item_date-box {
		font-size: 25px;
		color: #fff;

		z-index: 2;
		position: relative;
	}
	.ag-courses-item_date {
		font-weight: bold;
		color: #f9b234;

		-webkit-transition: color 0.5s ease;
		-o-transition: color 0.5s ease;
		transition: color 0.5s ease;
	}
	.ag-courses-item_bg {
		height: 128px;
		width: 128px;
		background-color: #f934d8;

		z-index: 1;
		position: absolute;
		top: -75px;
		right: -75px;

		border-radius: 50%;

		-webkit-transition: all 0.5s ease;
		-o-transition: all 0.5s ease;
		transition: all 0.5s ease;
	}
	.ag-courses_item:nth-child(2n) .ag-courses-item_bg {
		background-color: #cd3e9d;
	}
	.ag-courses_item:nth-child(3n) .ag-courses-item_bg {
		background-color: #e402d9;
	}
	.ag-courses_item:nth-child(4n) .ag-courses-item_bg {
		background-color: #952aff;
	}
	.ag-courses_item:nth-child(5n) .ag-courses-item_bg {
		background-color: #cd3e94;
	}
	.ag-courses_item:nth-child(6n) .ag-courses-item_bg {
		background-color: #4c49ea;
	}

	@media only screen and (max-width: 979px) {
		.ag-courses_item {
			-ms-flex-preferred-size: calc(50% - 30px);
			flex-basis: calc(50% - 30px);
		}
		.ag-courses-item_title {
			font-size: 24px;
		}
	}

	@media only screen and (max-width: 767px) {
		.ag-format-container {
			width: 96%;
		}
	}
	@media only screen and (max-width: 639px) {
		.ag-courses_item {
			-ms-flex-preferred-size: 100%;
			flex-basis: 100%;
		}
		.ag-courses-item_title {
			min-height: 72px;
			line-height: 1;

			font-size: 24px;
		}
		.ag-courses-item_link {
			padding: 22px 40px;
		}
		.ag-courses-item_date-box {
			font-size: 16px;
		}
	}
</style>
