---
import TimetableCard from "../components/TimetableCard.astro";
import { getLangFromUrl, useTranslations } from "../i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<div class="body1" id="timetable">
	<h2 class="text-center mt-5">{t("timetable__title")}</h2>
	<div class="ag-format-container">
		<div class="ag-courses_box">
			<TimetableCard
				date={new Date("2023-11-25")}
				subjects={[
					{
						name_en: "Combined Mathematics I",
						name_ta: "Combined Mathematics I",
						icon: "fa-square-root-variable",
						time: "1:30 PM - 4:40 PM",
					},
					{
						name_en: "Biology I",
						name_ta: "Biology I",
						icon: "fa-stethoscope",
						time: "1:30 PM - 3:30 PM",
					},
				]}
			/>
			<TimetableCard
				date={new Date("2023-11-26")}
				subjects={[
					{
						name_en: "Combined Mathematics II",
						name_ta: "Combined Mathematics II",
						icon: "fa-square-root-variable",
						time: "1:30 PM - 4:40 PM",
					},
					{
						name_en: "Biology II",
						name_ta: "Biology II",
						icon: "fa-stethoscope",
						time: "1:30 PM - 4:40 PM",
					},
				]}
			/>
			<TimetableCard
				date={new Date("2023-11-30")}
				subjects={[
					{
						name_en: "Physics I",
						name_ta: "Physics I",
						icon: "fa-circle-radiation",
						time: "2:30 PM - 4:30 PM",
					},
				]}
			/>
			<TimetableCard
				date={new Date("2023-12-03")}
				subjects={[
					{
						name_en: "Physics II",
						name_ta: "Physics II",
						icon: "fa-circle-radiation",
						time: "1:30 PM - 4:40 PM",
					},
				]}
			/>
			<TimetableCard
				date={new Date("2023-12-09")}
				subjects={[
					{
						name_en: "Chemistry I",
						name_ta: "Chemistry I",
						icon: "fa-flask",
						time: "1:30 PM - 3:30 PM",
					},
					{
						name_en: "ICT I",
						name_ta: "ICT I",
						icon: "fa-code",
						time: "1:30 PM - 3:30 PM",
					},
				]}
			/>
			<TimetableCard
				date={new Date("2023-12-09")}
				subjects={[
					{
						name_en: "Chemistry II",
						name_ta: "Chemistry II",
						icon: "fa-flask",
						time: "1:30 PM - 4:40 PM",
					},
					{
						name_en: "ICT II",
						name_ta: "ICT II",
						icon: "fa-code",
						time: "1:30 PM - 4:40 PM",
					},
				]}
			/>
		</div>
	</div>
</div>

<style>
	.ag-courses_box {
		@apply grid pt-5 py-12 grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-3;
	}
</style>
