---
// JS required for this section goes here (don't bother for now)
---

<section class="px-10 my-10">
	<h2 class="text-center">Time Table</h2>
	<div class="gap-5 grid md:grid-cols-2 grid-cols-1">
		<div class="bg-violet-200 rounded-2xl px-7">
			<h4>th November 2023 (Saturday)</h4>
			<p>1.30 p.m.-4.40 p.m. :<br/> COMBINED MATHEMATICS-I</p>
			<p> 1.30 p.m.-3.30 p.m. : <br/> BIOLOGY - I</p>
		</div>
		<div class="bg-violet-200 rounded-2xl px-7">
			<h4>th November 2023 (Sunday)</h4>
			<p>1.30 p.m.-4.40 p.m. :<br/>  COMBINED MATHEMATICS-II</p>
			<p>1.30 p.m.-4.40 p.m. : <br/> BIOLOGY - II</p>
		</div>
		<div class="bg-violet-200 rounded-2xl px-7">
			<h4>th December 2023 (Saturday)</h4>
			<p>1.30 p.m.-3.30 p.m. :<br/>  PHYSICS - I</p>
		</div>
		<div class="bg-violet-200 rounded-2xl px-7">
			<h4>th December 2023 (Sunday)</h4>
			<p>1.30 p.m.-4.40 p.m. :<br/>  PHYSICS - II</p>
		</div>
		<div class="bg-violet-200 rounded-2xl px-7">
			<h4>th December 2023 (Saturday)</h4>
			<p>1.30 p.m.-3.30 p.m. : <br/> CHEMISTRY - I</p>
			<p> 1.30 p.m.-3.30 p.m. : <br/> ICT - I</p>
		</div>
		<div class="bg-violet-200 rounded-2xl px-7">
			<h4>th December 2023 (Sunday)</h4>
			<p>1.30 p.m.-4.40 p.m. : <br/> CHEMISTRY - II</p>
			<p> 1.30 p.m.-4.40 p.m. : <br/>  ICT - II</p>
		</div>
	</div>
</section>
