<section>
	<h3 class="animate-charcter">PLATINUM SPONSORS</h3>
	<!-- <div class="row">
			<div class="col-md-12 text-center">
			</div>
		</div> -->
	<a href="https://sltc.ac.lk/" target="_blank">
		<img src="/sltc-full.png" alt="" />
	</a>
	<a
		href="https://web.facebook.com/northwayfamilymart?_rdc=1&_rdr"
		target="_blank"
	>
		<img src="/northway-family-mart.png" alt="" height="170px" width="1000px" />
	</a>
</section>
<style>
	section {
		display: flex;
		flex-direction: column;
		align-items: center;
		background-color: rgb(243, 219, 240);
		padding-bottom: 40px;
	}
	a {
		width: 80%;
	}
	a img {
		width: 100%;
	}
	.animate-charcter {
		margin: 40px 0;
		width: 100%;
		text-align: center;
		text-transform: uppercase;
		background-image: linear-gradient(
			-225deg,
			#ffd700 0%,
			#faf732 29%,
			#69695b 67%,
			#e9e90e 100%
		);
		background-size: auto auto;
		background-clip: border-box;
		background-size: 200% auto;
		color: #fff;
		background-clip: text;
		text-fill-color: transparent;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		animation: textclip 2s linear infinite;
		display: inline-block;
		font-size: 100px;
	}

	@keyframes textclip {
		to {
			background-position: 200% center;
		}
	}
</style>
