
<article>
<div class="container">
	
	<div class="row">
	  <div class="col-md-12 text-center">
		<h3 class="animate-charcter"> PLATINUM SPONSORS</h3>
	  </div>
	</div>
	<div class="img1">
		<div class="col-lg-12 order-1 order-lg-1 mb-5 sponsor aos-init aos-animate" data-aos="fade-right">
			<a href="https://sltc.ac.lk/" target="_blank"> 
				<figure><img src="s.png" class="img-fluid" alt=""></figure>
			</a>
		</div>
		<div class="img2" data-aos="fade-left">
			<a href="https://web.facebook.com/northwayfamilymart?_rdc=1&amp;_rdr" target="_blank"> 
				<figure><img src="2.png" class="img-fluid" alt="" height="170px" width="1000px"></figure>
			</a>
			
		</div>
		
	</div>
	<div>
		
	</div>
  </div>
</article>
  <style>

.img1{
	padding-left: 100px;
	cursor:pointer;

}
.img2{
	padding-left: 60px;
	cursor:pointer;
	

}

.row{
	text-align:center;

 }
	.animate-charcter
{
   text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #FFD700 0%,
    #faf732 29%,
    #69695b 67%,
    #e9e90e 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
  font-size: 100px;
  
	  
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}
article{
		background-color: rgb(243, 219, 240);
		height: 800px;
	}
  </style>
