---
// JS required for this section goes here (don't bother for now)
import { getLangFromUrl, useTranslations } from "../i18n/utils";

const t = useTranslations(getLangFromUrl(Astro.url));
---

<section id="about-us" class="pt-8">
	<h2 class="text-4xl mt-0">{t("all_about_us_section_heading")}</h2>
	<img class="p-8 sm:float-right" src="/logo.png" alt="logo" />
	<p class="text-xl text-justify">
		We, engineers, are very much concerned about society and its betterment, and
		we believe that the betterment of society will bring a more prosperous and
		hybrid future generation than irrelevant mutations.
	</p>
	<p class="text-xl text-justify">
		It is very obvious how the engineering students in our society bring
		themselves up and plan out schemes to assist our community in many ways. We
		too, the Tamil people of the University of Moratuwa, brought ourselves
		together under the banner of Mora E-Tamils. We also stand with our Tamil
		Literary Association in all its speculations and extend our heartfelt
		support to them during
	</p>
	<ul class="text-xl md:pl-28">
		<li>Thamilaruvi</li>
		<li>Sotkanai</li>
		<li>Brammam, Jeevanathi,...etc</li>
	</ul>
	<p class="text-xl text-justify">
		All these programmes are designed and developed with the motive of
		strengthening the longevity and enrichment of the culture and tradition of
		the society. The organisation Mora E-Tamils was established and fostered by
		the Tamil students of the Engineering Faculty of the University of Moratuwa
		with the sole aim of uplifting and forward-moving the academic standards of
		the Tamil-speaking students in our country.
	</p>
</section>
