---
// JS required for this section goes here (don't bother for now)

---



<link rel="stylesheet" href="styles.css">

<h1>What is all about us?</h1>




<div>
<p >We, Engineers are very much concerned about the society and its betterment and belief that the betterment of the society will bring a prosperous and hybrid future generation than the irrelevant mutations.</p> 

<p >It is very obvious that how the engineering students in our society bring up themselves and plan out schemes to assist our community in many ways. We too, the Tamil people of The University of Moratuwa brought together ourselves under the banner of Mora E-Tamils. We also stand along with our Tamil Literary Association in all its speculations and extend our heartiest support to them during</p>
</div>
<br>


<br>
	✔️Thamilaruvi <br>              
	✔️Sotkanai <br>
	✔️Brammam, Jeevanathi,...etc

<br>
<br>
<div>
<p >All these programmes are designed and developed with the motive of strengthening the longevity and enrichment of culture and tradition of the society. The organization Mora E-Tamils was established and fostered by the Tamil students of the Engineering faculty of University of Moratuwa with the sole aim of uplifting and forward-moving the academic standards of the Tamil speaking students in our country.</p>

</div>

<style>
	.one{
		color:red;
	}
	div{
		height:100px;
		width:1200px;
		

	}
	.two{
		color:red;
	}
	
	.three{
		color:red;
	}	
	
		
	
	.grade{
		height:200px;
		width:200px;
	}

</style>