---
// JS required for this section goes here (don't bother for now)
---

<div class="all-about">
	<h2 class="one font-black">What is all about us?</h2>
	<img src="/logo.png" alt="logo" />
	<p class="two">
		We, engineers, are very much concerned about  society and its betterment,
		and we believe that the betterment of society will bring a more  prosperous and
		hybrid future generation than  irrelevant mutations.
	</p>
	<p class="three">
		It is very obvious  how the engineering students in our society bring 
		themselves up and plan out schemes to assist our community in many ways. We
		too, the Tamil people of the University of Moratuwa, brought
		ourselves together under the banner of Mora E-Tamils. We also stand  with our
		Tamil Literary Association in all its speculations and extend our heartfelt
		support to them during
	</p>
		<ul>
			<li>️Thamilaruvi</li>
			<li>️Sotkanai</li>
			<li>️Brammam, Jeevanathi,...etc</li>
		</ul>
	<p class="four">
		All these programmes are designed and developed with the motive of
		strengthening the longevity and enrichment of the  culture and tradition of the
		society. The organisation Mora E-Tamils was established and fostered by the
		Tamil students of the Engineering Faculty of the University of Moratuwa with the
		sole aim of uplifting and forward-moving the academic standards of the Tamil-speaking students in our country.
	</p>
</div>

<style>
	.all-about {
		margin: 100px 50px 100px 50px;
	}
	img {
		float: right;
	}
	.one {
		font-size: 42px;
	}
	.two,
	.three,
	.four,
	ul {
		font-size: 20px;
	}
	ul {
		list-style: "✔ ";
		padding-left: 100px;
	}
</style>
