---
// JS required for this section goes here (don't bother for now)
import { getLangFromUrl, useTranslations } from "../i18n/utils";

const t = useTranslations(getLangFromUrl(Astro.url));
---

<section id="about-us" class="pt-8">
	<h2 class="text-4xl mt-0">{t("all_about_us_section_heading")}</h2>
	<p class="text-xl text-justify">
		{t("all_about_us_section_1")}
	</p>
	<p class="text-xl text-justify">
		{t("all_about_us_section_2")}
	</p>
	<ul class="text-xl md:pl-28">
		<li>{t("all_about_us_section_thamilaruvi")}</li>
		<li>{t("all_about_us_section_sotkanai")}</li>
		<li>{t("all_about_us_section_etc")}</li>
	</ul>
	<p class="text-xl text-justify">
		{t("all_about_us_section_3")}
	</p>
</section>
