---
// JS required for this section goes here (don't bother for now)

---
<div class="all-about">
	<p class="one">What is all about us?</p>
	<img src="/logo.png" alt="logo">
	<p class="two">We, Engineers are very much concerned about the society and its 
		betterment and belief that the betterment of the society will bring 
		a prosperous and hybrid future generation than the irrelevant 
		mutations.</p>
	<p class="three">It is very obvious that how the engineering students in our society 
		bring up themselves and plan out schemes to assist our community in 
		many ways. We too, the Tamil people of The University of Moratuwa 
		brought together ourselves under the banner of Mora E-Tamils. We also 
		stand along with our Tamil Literary Association in all its speculations 
		and extend our heartiest support to them during

	</p>	
	<div class="functions">
	<p class="five">✔️Thamilaruvi </p>              
	<p class="five">✔️Sotkanai</p>
	<p class="five">✔️Brammam, Jeevanathi,...etc</p>
	</div>
	<p class="four">All these programmes are designed and developed with the motive of 
		strengthening the longevity and enrichment of culture and tradition 
		of the society. The organization Mora E-Tamils was established and 
		fostered by the Tamil students of the Engineering faculty of 
		University of Moratuwa with the sole aim of uplifting and 
		forward-moving the academic standards of the Tamil speaking students 
		in our country.</p>

</div>

<style>
	.all-about{
		margin: 100px 50px 100px 50px;
	}
	img{
		float: right;
	}
	.one{
		font-size: 42px;
		font-weight: 900px;
	}
	.two,.three,.four,.five{
		font-size: 20px;
	}
	.functions{
		margin-left: 100px;
	}

</style>

